[2014-10-29 21:06] atrieu opened #2 "Possible array out of bounds access"
Not sure if that was intentional, but in the definition of `DecodePairsSequence` :

[code]

If the code is long enough, `i` can get large enough to provoke an array out of bounds access as `offset` is either 0 or 1.
For example, with +7FG4.9QCJ2VXGJ

[2014-10-30 09:34] #2 closed, assigned to drinckes

[2014-11-03 17:06] mxfh opened #3 "Geohash description on comparison page."
Last time I checked a geohash also describes an area. Truncating it only extends the area loosing precision but it will always include the area defined by the longer string.

http://geohash.2ch.to/9r0zn74kf22z
http://geohash.2ch.to/9r0zn74

Please correct comparison.adoc

[2014-11-04 12:46] #3 closed, assigned to nobody

[2014-11-11 21:31] dandv opened #4 "Add GitHub repo description"
Would be nice to see it in the list at https://github.com/google. Thanks!

[2014-11-12 09:23] #4 closed, assigned to nobody

[2015-05-27 07:29] drinckes opened #9 "The string "+" passes as a valid code"
"+" is the separator character, used to break the code between neighbourhood and building levels, and to help disambiguate OLC codes from postal codes.

On its own it has no meaning - it has to be either preceded, followed (or both) by valid OLC alphabet characters.

Currently the method that checks for validity passes. Adding a check that the code does not solely consist of "+", and returning fal

[2015-06-23 14:49] drinckes commented on #9
Fixed in JS. Go not fixed because it doesn't mirror the JS code at all.

[2015-06-23 14:49] #9 closed

[2015-07-07 12:28] drinckes opened #12 "Extremely long codes can cause underflow errors"
In a test C++ implementation, long codes were causing segmentation faults. This was due to the grid computation, where the size of the grid squares are computed in degrees latitude and degrees longitude. These start at 1/8000th of a degree, and with each step, divide by 4 (latitude) or 5 (longitude).

Fairly quickly these can get to the minimum values that can be represented as floats and cause un

[2015-07-25 09:04] dgryski opened #16 "go-fuzz instructions are out-of-date"
The method of calling go-fuzz has changed slightly, and there is also no longer a separate corpus directory and flag.  The 'corpus extraction' code should be moved behind a test flag instead of running at init().

cc: @tgulacsi

[2015-07-25 09:11] dgryski opened #17 "go: Use standard logging package to eliminate external dependencies"
The only external dependency for the Go implementation is `gopkg.in/inconshreveable/log15.v2`.

This package should be updated to use only the standard library.

[2015-07-25 10:54] tgulacsi commented on #17
I do like that library more, as it allows writing libraries with optional logging, but you're right about the dependency. PR will come.

[2015-07-25 11:00] dgryski commented on #16
Note this depends on the vet and lint fixes so the build tags are correct.

[2015-07-25 12:24] tgulacsi commented on #12
go-fuzz found similar problems, for example with codes like

+qqX2975722X888X2975722X888X2975722X988X29qqX2975722X888X2975722X888X2975722X988X29qqX2975722X888X2975722X888X2975722X988X29qqX2975722X88qqX2975722X888X2975722X888X2975722X988X29qqX2975722X888X2975722X888X2975722X988X29qqX2975722X888X2975722X888X2975722X988X29qqX2975722X88qqX2975722X888X2975722X888X2975722X988X29qqX2975722X888X2975722X88

[2015-08-13 14:57] jankotek opened #23 "Hierarchical Sphere Pixelization"
There is entire category of spherical location codes used in astronomy. Compared to Lat/Long codes it does not have distortion and requires shorter code.

Not sure if this is useful, just FYI

http://healpix.jpl.nasa.gov/

http://research.microsoft.com/pubs/64531/tr-2005-123.pdf

http://www.skyserver.org/htm/

http://www.sai.msu.su/~megera/oddmuse/index.cgi/SkyPixelization

http://adsabs.harvard.e

[2015-08-13 15:31] waldyrious commented on #23
You should probably try to integrate this information into the [project's wiki](https://github.com/google/open-location-code/blob/master/docs/comparison.adoc] :)

[2015-08-13 23:03] nolim1t opened #24 "Convert the JS code to work with node."
I think its a good project that appeals with the travelling demographic as not all places actually have addresses.

Though would be good to get as many libraries up for this. Would love to see the JS code usable in node.js though (ideally as something you can install with npm)

Thoughts?

[2015-08-14 03:53] irvin opened #25 "Including floors in open location code"
In large cities, when description a store, a restaurant or a venue, most of time we need to also state our it's floor. If we could also add floor number to the end of open location code, we can even present location where coordinate cannot cover.

We can considering to add a '+/-' in the end to indicate the floor numbers (ground floor = '+0', minus represent underground floor ).

[2015-08-14 11:34] mprins commented on #25
`+` is already in use as a separator, eg. `22222222+22`

[2015-08-14 16:55] irvin commented on #25
We can use second + for floors, eg., 7QQ32HM7+CV+77 represent Google in 77 floors of Taipei 101.

[2015-08-17 12:19] drinckes commented on #25
We thought long and hard about floors or heights but decided against
including them in the base specification, mainly because we couldn't see
any major benefit beyond saying "7QQ32HM7+CV, Floor 77".

A floor number is helpful but doesn't actually give the exact destination.
I'm thinking of office buildings or hotels where you need a room or suite
number, possibly in addition to the floor.

It turn

[2015-08-19 11:38] #25 closed

[2015-08-19 11:39] drinckes commented on #24
I'm open to it but don't know anything about node.js so I can't make any commitment. If anyone else wants to pick this up, feel welcome.

[2015-08-19 11:40] drinckes commented on #12
What I'll probably do is add a test case with a code > 32 digits that should validate to false. Then everyone gets to run their tests. :-)

[2015-08-19 17:54] irvin commented on #25
Enough to understood. However as your example, people still need to know the floor numbers when we locate some place, so a floor numbers must come with the code in metropolitan. In this situation, it's always better to decide a specific format that machine can read and process, which floor 77 / 77F / 77 階 / 77 樓 / G / T / R... or it's many various represent methods across different language and cu

[2015-08-19 20:30] waldyrious commented on #23
@drinckes any words on why this was closed?

[2015-08-21 14:14] drinckes commented on #23
I thought it can still be done if someone wants, but I can see closing the issue gave the wrong impression. Sorry.

I'll open it and leave it with a help wanted tag. If someone wants to do it, they can pick it up.

[2015-08-21 14:15] drinckes commented on #24
I'm playing with adding a package file to the existing JS, so that the tests can be executed on travis-ci.org using npm (and qunit and a bunch of other stuff). But I don't know if this is sufficient or if changes are needed to the openlocationcode.js file?

[2015-08-28 13:09] bernharduw commented on #24
To equally support node.js, browser globals and module loaders using AMD (such as require.js), you can wrap the function in openlocationcode.js in an [UMD definition](https://github.com/umdjs/umd). I think the most suitable variant would be [returnExportsGlobal](https://github.com/umdjs/umd/blob/master/returnExportsGlobal.js).
If you want, I can create a pull request for this.

[2015-09-11 11:00] dgryski commented on #16
Fixed

[2015-09-11 11:00] #16 closed

[2015-09-11 11:00] dgryski commented on #17
Fixed

[2015-09-11 11:00] #17 closed

[2015-10-02 09:02] #24 closed

[2015-11-17 00:55] danrademacher opened #33 "Link to this repo on plus.codes is incorrect"
Links to gthub*.org*. Should be *.com*. I don't see that code in this repo, but would be nice if the owner of the demo site could fix that link.

[2015-11-30 12:28] #33 closed

[2015-12-23 13:11] famer opened #35 "Conflict in API and definition"
Formatting section in https://github.com/google/open-location-code/blob/master/docs/olc_definition.adoc
conflicts with API definition for `isValid` function in https://github.com/google/open-location-code/blob/master/API.txt in following:

[2016-01-24 00:04] evelynmitchell opened #36 "spelling error on website"
The codes aren't case sensitive and don't include easily confused characters. We've selected the characters to make it difficult to impossible to spell words in any language.

should be

The codes aren't case sensitive and don't include easily confused characters. We've selected the characters to make it difficult to impossible to misspell words in any language.

[2016-01-24 08:49] waldyrious commented on #36
That's not a typo: the idea is that real words from a language should not be formed (correctly spelled) accidentally by an OLC.

[2016-02-10 19:56] drinckes opened #37 "Short code to full code recovery has a bug"
In some cases, recovering a short code to a full code does not return the nearest match.

Calling recoverNearest('22+', 14.9333, -23.5125) returns 796RXF22+. This is not correct - the nearest match is 796RXG22+.

The problem seems to be with the step where the reference latitude and longitude are rounded down before generating the candidate code. In the above example, it should generate a code who

[2016-02-11 11:03] drinckes commented on #37
Some more detail. Rounding the reference location, can result in a padding section that is more than one cell away from the correct position. The reason this is happening is that the code is using Math.floor. Either changing this to Math.round, or removing it entirely, fixes the problem.

[2016-02-11 11:11] #37 closed

[2016-02-15 11:46] drinckes commented on #36
What he said. ;-)

[2016-02-15 11:46] #36 closed

[2016-02-21 18:32] kralo opened #40 "have a unique icon / graphic identifier for open-location-code"
If you want to use open location codes (or plus codes) it would be great to have a logo/icon, so if you reference it on sites or even print material, then you have some (additional, besides the plus) identifier. Maybe something like a geo-pointer with a plus inside it (or since it's from google a "g+"?)

[2016-02-21 18:47] kralo commented on #40
like that, maybe
![path4147](https://cloud.githubusercontent.com/assets/3055678/13204588/e54277ae-d8d3-11e5-84ca-119f4e049751.png)

[2016-03-17 04:34] morciej commented on #40
I believe I have a similar idea. Let's make it a plus sign inside the "copyleft" reverse C.
![plus codes logo](https://cloud.githubusercontent.com/assets/17895139/13836434/a3a5000c-ebbe-11e5-9746-3a39a9f3aaa2.jpg)
The advantages is that is makes a character that can be scribbled by hand.
Maybe we can combine them by putting that character inside of a pin? :-)

[2016-03-23 12:34] drinckes commented on #35
Thanks. Updated in pull request #41 .

[2016-03-23 12:34] #35 closed

[2016-06-27 12:45] karussell opened #47 "Support for elevation or a building level planned?"
How can an extension of open location code look with the elevation or a building level included?

E.g. if you want to meet it would be nice to know the building level of the room or if it is under or on a bridge :)

[2016-06-27 12:59] karussell opened #48 "Patent or licensing of the code"
The implementation is Apache Licensed which makes patents put on the code of the implemention transferred to the user (automatically), which is good but still not enough, I think but not sure :)

E.g. the costs for using the **open location code** itself is unclear to me. Can you point me to a license part that guarantees that using this code in e.g. competitive maps or routing services will be fr

[2016-06-27 13:24] mprins commented on #47
see #25

[2016-06-27 13:37] karussell commented on #47
Thanks @mprins !

[2016-06-27 13:37] #47 closed

[2016-06-27 13:41] karussell commented on #25
I would love to have the 3rd dimension included as e.g. altitude but not separately instead directly encoded and e.g. noted that the code is 3 or 2 dimensional. This way the application could theoretically convert it into a local floor definition but at least the smartphone could guide you to the correct height e.g. guided by local installed WLAN indoor systems giving precise height informations.

[2016-06-27 18:40] scruss opened #49 "Implementation requirement to recover a full Open Location Code from a short code/global address at odds with "Works Offline" design requirement"
Given *MQPX9G Nairobi, Kenya*, one cannot recover the full OLC without a network connection or gazetteer. This breaks the design requirements to work offline.

Suggested is a "level 0" implementation describing only full OLCs with no gazetteer requirement, as could be encoded/decoded by an embedded device with no network access.

(Short codes are also culturally sensitive. *845R+3C Stanley, East F

[2016-06-28 13:26] drinckes commented on #48
It is certainly our intent to enable anyone to use it for anything at no cost, and with minimal encumbrances.

The implementation is Apache 2 licensed, meaning that the recipient gets a perpetual, worldwide, non-exclusive, no-charge, royalty-free, irrevocable copyright and patent license to it (see sections 2 & 3). If you need more information about the impact of using this software in a business

[2016-06-28 13:26] #48 closed

[2016-06-28 16:05] karussell commented on #48
@drinckes thanks for the clear and helpful answer!

[2016-08-15 18:42] chakravarthyvp opened #50 "Findind nearest neighbour/shortest path and traversal"
Hi All,

[code]

Best Regards
CVP

[2016-09-06 01:19] jyasskin opened #53 "Link to source of plus.codes site"

[2016-09-06 08:31] buge commented on #53
Assigning to Doug who wrote the site. It would indeed be nice to add it to this repo.

[2016-10-25 05:39] drinckes commented on #49
Global codes (796rwf8q+wf) work offline. A local code (wf8q+wf), will work offline within half a degree - roughly 50km - of the location.

A local code with a locality will require some service to geocode it, yes. I don't think that materially changes the claim.

The flexibility that multiple different locality names can be used for the same location is an advantage specifically for the reason you

[2016-10-25 05:39] #49 closed

[2016-11-25 07:15] drinckes opened #56 "Javascript library should do input validation"
Passing values as strings instead of numbers will produce unexpected results, due to Javascript string handling.

The inputs (lat, lng, code length) should be coerced to numbers (using Number()) and if it produces NaN throw an exception.

While you're there, adding an exported constant for the code length e.g. OpenLocationCode.CODE_PRECISION_NORMAL and OpenLocationCode.CODE_PRECISION_EXTRA seems l

[2016-11-26 22:14] morciej commented on #33
NOT corrected yet. Link in plus.codes Help sidebar is https://plus.codes/github.com/google/open-location-code, goes nowhere. Should be https://github.com/google/open-location-code

[2016-11-26 22:51] morciej opened #58 "Creating or using pluse.codes website is not possible offline since Nov'16 update"
With initial version of http://plus.codes demo site, it was possible to find out the plus code of one's own location, and find distance to a location given as a plus code. After the update, it is no longer possible. The site needs to be downloaded to use any functionality at all.

[2016-12-07 09:34] drinckes commented on #33
Good catch, obviously I fixed .org and broke the link entirely. Should be ok now.

[2016-12-07 09:45] drinckes commented on #58
True - however I'm closing the issue here because it's not a problem with the Open Location Code library itself. (It'd be better over [here](https://github.com/drinckes/pluscodes) but read below first.)

To use the codes offline, you can use Google Maps on your device. Google Maps supports offline areas that you can download, and then the maps, search and navigation work offline. (https://support.

[2016-12-07 09:45] #58 closed

[2017-01-11 09:43] unfassbarstephan opened #61 "different plus codes results of the plus code API search and the plus code webpage search"
I noticed slightly different plus codes results of a specific point between the plus code API search and the plus code webpage search.

E. g.:

point (Lat,Lon): [50.963400,13.939100](http://maps.google.com/?q=50.963400,13.939100&t=h)

search result api: [9F2MXW7Q+8P](https://plus.codes/api?address=50.963400,13.939100)

search result webpage: [9F2MXW7Q+9J](https://plus.codes/9F2MXW7Q+9J)

[2017-01-11 13:45] drinckes commented on #61
Thanks for this!

Lat/lng queries are getting sent to the Google Geocoding API. It's responding with a geocoded location, and the code is being generated from that position.

In this case, the Google Geocoded response is far enough (by a few meters) from the lat/lng position that we're generating an code for that position (50.9633043, 13.9392803) not the requested position (50.963400,13.939100).

[2017-01-11 15:49] drinckes commented on #61
Thanks again for reporting. The API has been updated to handle lat/lng requests properly and restarted. Please do let us know if you see any other problems.

[2017-01-11 15:49] #61 closed

[2017-01-11 16:07] drinckes commented on #61
BTW @unfassbarstephan if you're doing a lot of requests (2 per second) could you contact me using my github name @ google.com please?

[2017-01-11 16:22] unfassbarstephan commented on #61
Thank you for your fast fix! At first sight, it seems to work perfecty.

[2017-01-20 14:37] drinckes commented on #23
I don't think it's appropriate to add this content to the comparison doc, since that would give the misleading impression that this category was evaluated prior to the design of OLC.

With that in mind, I'm going to close off this issue.

[2017-01-20 14:37] #23 closed

[2017-01-20 14:38] drinckes commented on #40
We have a graphic designer working on something and will announce it in the coming months.

[2017-01-20 14:38] #40 closed

[2017-01-20 14:42] drinckes commented on #53
I'm not going to add it to this repo, I may create another repo in the future with it but I need to do some refactoring before that happens.

@jyasskin did you have anything in particular you were interested in?

[2017-01-20 14:44] drinckes commented on #56
This got addressed in #57.

[2017-01-20 14:44] #56 closed

[2017-01-31 09:25] drinckes commented on #50
The question is largely going to depend on what resolution you require, whether you need all squares or can skip some.

In general, you can just compute in steps equal to the resolution of the areas. For example, a code such as 8FVC8FXR+ has the resolution of 1/400th of a degree.

Therefore, if you compute the center lat/lng, if you step 1/400th of a degree east or west, you'll get the neighbourin

[2017-01-31 09:26] drinckes commented on #50
(If you need more information, feel free to reopen, or switch to the public mailing list at https://groups.google.com/forum/#!forum/open-location-code)

[2017-01-31 09:26] #50 closed

[2017-02-23 12:50] ghost opened #65 "Code translation (other coding language)"
Do you have a TCL version? If not, I have "translated" the code and the test suite passes successfully (VBA --> TCL)

Sorry for the bug report; I couldn't find a "contact" link for this project.

[2017-02-23 13:11] drinckes commented on #65
Hi, that's very cool! If you create your own GitHub repo, we'd love to link to it. That's probably best, since I'm sure you know TCL better than me. :-)

Would that be ok?

[2017-02-23 13:12] maimizuno opened #66 "VBA code version: error in sub-subscript"
LIne 601 (test suite):

MsgBox ("IsFull test " + CStr(i) + ", expected: " + CStr(validity(i)(2) = "true") + ", actual: " + CStr(f))

This (*)SHOULD BE(*):

MsgBox ("IsFull test " + CStr(i) + ", expected: " + CStr(validity(i)(3) = "true") + ", actual: " + CStr(f))

(Notice: the sub-subscript "2" was copied from, presumably, line 597 and was not updated (line 600 was properly updated when copied fro

[2017-02-27 12:37] drinckes commented on #66
Thanks - am investigating.

[2017-03-01 09:05] drinckes commented on #66
Thanks! I've merged the change into the master branch.

[2017-03-01 09:05] #66 closed

[2017-03-02 08:43] maimizuno commented on #65
Sadly, my knowledge of GitHub and things like repos and forks are kinda over my head. I don't believe I would properly manage it.

[2017-03-04 04:51] maimizuno commented on #65
Upgraded to include sanity checks (enhancement to test suite). Some of these should be made available to the other versions (languages).

[OLC:test] All test successfully passed.

OLC encode: (+000.0000000,+000.0000000) --> 6FG22222+22
OLC encode: (-090.0000000,-180.0000000) --> 22222222+22
OLC encode: (-090.0000000,+180.0000000) --> 22222222+22
OLC encode: (+090.0000000,-180.0000000) --> C2X2X2X2

[2017-03-10 10:53] drinckes opened #69 "Java implementation is hard to follow"
The current Java implementation has  a number of confusing code blocks that are hard to follow:

*  The encoding method in the [constructor](https://github.com/google/open-location-code/blob/master/java/com/google/openlocationcode/OpenLocationCode.java#L109)
*  The [decode](https://github.com/google/open-location-code/blob/master/java/com/google/openlocationcode/OpenLocationCode.java#L204) method

[2017-03-10 16:39] #69 closed

[2017-07-06 12:29] drinckes opened #75 "rust setup breaking travis CI"
The rust setup added in #71 has broken the travis CI build process:

[code]

[2017-07-06 12:29] drinckes commented on #75
As a temporary fix, I'm going to comment out the rust parts of the travis config.

[2017-07-07 12:29] drinckes commented on #53
If there's specific questions I'm happy to respond to those - like how are searches parsed etc. @jyasskin feel free to reopen this, or use the public mailing list, whatever is best for you.

[2017-07-07 12:29] #53 closed

[2017-07-28 08:56] eselkin opened #78 "Not an issue"
I created a Swift 3.x implementation based off your python/rust/C++ code and it is available as a cocoapod for people who want to use it in developing iOS applications. If you'd rather that I just give you the code (since it's 99% yours), I'd be more than happy to.

The cocoapod is [here](https://cocoapods.org/pods/OpenLocationCode)

[2017-07-28 11:58] drinckes commented on #78
Oh that's great! I'll create a /swift directory and link to your cocoapod from the README if that's ok.

[2017-07-28 20:36] eselkin commented on #78
It's perfectly fine with me... I'll be adding more to the framework shortly. As of now all it does is decode and encode. It doesn't do any of the "find nearest" stuff yet.

[2017-07-28 20:36] #78 closed

[2017-08-04 07:18] drinckes opened #82 "encode method accepts invalid length value"
#81 identifies an error in the encode method in python.

What it does is require the length parameter to be an even number, if it is less than the separator position (8). This is incorrect, it needs to be an even number if it is less than (or equal to) the pair code length (10).

The result is that encode can request a 9 digit code, which isn't valid. Currently I think implementations return a 10

[2017-08-04 07:59] drinckes commented on #82
Java implementation was OK.
Some implementations when the encode() method is called with length 9 they valid generate 10 digit codes. This includes cpp, rust and visual basic.

[2017-08-04 07:59] #82 closed

[2017-08-23 14:47] drinckes opened #89 "Code recovery within one degree of the poles can be incorrect"
Codes missing leading digits can be recovered using a reference location. The general approach is:
1) Take the reference location and generate a long code;
2) Use the leading characters of that code as a prefix for the short code;
3) If the latitude of the new code is more than half the resolution of the missing prefix north or south of the reference location, move the new code by one step in that

[2017-08-24 08:50] drinckes commented on #75
I'm going to close the issue! Awesomes!

[2017-08-24 08:50] #75 closed

[2017-08-24 15:45] drinckes commented on #89
Remaining languages to fix are cpp, dart, java, js/closure and visualbasic.

[2017-08-25 09:33] drinckes commented on #89
Yay!

[2017-08-25 09:33] #89 closed

[2017-08-25 09:48] drinckes opened #98 "Add travis test configs"
The current travis config tests js, go, ruby, python and rust.

But cpp, dart, java, js/closure are not automatically tested. Also weirdly travis thinks it tests js three times and I don't know what's going on there.

The new travis.yml file uses matrix:include to set up a node.js and rust instance.

Travis has a language setting for [dart](https://docs.travis-ci.com/user/languages/dart/).

cpp, j

[2017-08-25 13:35] drinckes commented on #98
All configs are added except for visual basic. I'm ok with this since it's formatted as a spreadsheet macro, not plain VB code.

[2017-08-25 13:35] #98 closed

[2017-11-15 11:28] drinckes opened #118 "Fix segfault in c++ implementation"
Encoding a code using a 90degree latitude and code length of 10 causes a segfault.

The problem is to reduce the latitude to be within the code area. If the latitude is 90 degrees, it needs to be reduced. One solution is to compute the resolution of the code, and reduce the latitude by a fraction of that amount.

If the code length is 10, the resolution should be 1/8000th of a degree. Instead it w

[2017-11-15 14:06] #118 closed

[2017-11-15 14:27] drinckes opened #121 "Floating point errors can cause incorrect digits after position 10"
Floating point errors can cause incorrect code to generate. This depends on the language, but as an example we noticed that encoding latitude 1, longitude 1 produces an X for the 11th digit.

The 10 digit code latitude and longitude ranges are the same - 1.0 to 1.000125. In the 11 digit sub-grid, the characters are assigned as:

| |  Longitude 1.0 to 1.0003125 | Longitude 1.0003125 to 1.000625 | L

[2017-11-15 17:07] #121 closed

[2017-11-28 05:29] answerquest opened #126 "Suggestion: show full code in brackets on plus.codes"
Hi, sharing an issue with plus codes that say a postal service or a database operating at the level of a country like India would experience:

* I have one location in Pune city, which is in Maharashtra state of India: https://i.imgur.com/1xlxexM.png
* I copy the plus-code given at the bottom. It is a shortened version, but an unfamiliar person wouldn't know.
* I open maps.google.com and am lookin

[2017-11-28 09:19] bocops commented on #126
Hi @answerquest

The idea is to use a regional landmark or other useful location information in combination with short codes. For example, if I search on Google Maps for "GRW4+7J Pashan", the result is the correct location.

I agree that this could be made more obvious on plus.codes, but I guess that this web page is still meant for those already being aware of how OLC works. A button to copy to c

[2017-11-28 11:18] drinckes commented on #126
Hi - think of the plus code as similar to a street name and number. You wouldn't expect to tell someone in another state that your entire address was "11 X Road" - but you'd include the town as well. Similarly, telling me the address is "GRW4+7J, maharashtra" isn't super helpful, that's why it displays the locality "Pashan, Pune".

I don't think showing the full code is the solution - we want to m

[2017-12-02 21:40] shoeper opened #128 "Python: recoverNearest implementation does not do what documentation says it does"
While the documentation says it returns an unchanged code for full code input, it actually raises a ValueError instead.

[code]

[code]

[2017-12-06 16:16] bocops commented on #126
@drinckes This is probably more an issue with the Maps API than with OLC - but is there any way to somehow "normalize" the location that is displayed as a reference?

Clicking around the map, I often (for locations in Germany) get the short code followed by a city name and "Germany", which is what I'd expect to be most useful in most cases. Example: **PJWW+8M Trier, Germany**

Sometimes, though, I

[2017-12-11 18:10] salvioner commented on #128
I find the word _unchanged_ a bit misleading. The [OLC specification](https://github.com/google/open-location-code/blob/master/docs/olc_definition.adoc#open-location-code-specification) states:

Should the function return the original, unchanged code or the uppercase code?

[2018-01-09 13:28] rsramek commented on #126
@bocops Locations will be formatted much more compactly in future, hopefully Q1/Q2 and would be also receivable directly from Maps API.

[2018-01-16 16:56] shoeper commented on #128
From my point of view this has been fixed in #129.

[2018-01-16 16:57] #128 closed

[2018-01-19 06:38] xemasiv opened #133 "Plus codes aren’t shown in some countries."
Hello there,

In Google Maps help page it says that 'Plus codes aren’t shown in some countries.'

* Where do we find this list of countries?
* Is it just some country-based regulation, or some specific flaw / problem in the overall code / implementation?

Curious since I'm looking to support / utilise it in a precision service, thank you.

[2018-01-19 12:28] drinckes commented on #133
Right now it's displayed on the dropped pin card in all countries. The short code is only shown for business listings in a few countries (BR, CV, NG, SO, ID, IN, RU), depending how it is received we hope to make it more widely available.

Where are you located, or what country are you interested in?

[2018-01-19 16:54] xemasiv commented on #133
In those countries, will it still be possible for users to generate plus codes - and at the same time with Google Maps, resolve those plus codes within their country?

I am from Philippines and I'm currently working on a real-estate platform right now. I think plus codes can greatly help in identifying locations of larger real estate (e.g. establishments, lots) and even small ones, such as the ent

[2018-01-20 14:11] bocops commented on #133
@xemasiv Plus codes can be generated for every location on earth. Basically, as long as there's a set of valid latitude/longitude coordinates, there's a matching plus code.

My guess is that every valid plus code will be resolved by Google Maps as well, even if it is located in a country where a code isn't _shown_ by Maps initially. I have no evidence for that, though, so perhaps @drinckes can con

[2018-01-21 17:06] xemasiv commented on #133
@bocops yup that's the page I was referring too.

And yes you are correct; actually just tested it right now, I was able to generate and resolve plus codes from the above mentioned countries (BR, CP, NG, RU, etc). And using https://plus.codes/map/ I was also able to generate the shortcodes :+1:

Already clear on this, thank you very much :100:

[2018-02-09 03:28] qwlong opened #134 "encode and decode longitutde and latitude are not consistent"
![image](https://user-images.githubusercontent.com/607963/36010408-3892e828-0d8c-11e8-9664-40d3de465c97.png)
![image](https://user-images.githubusercontent.com/607963/36010459-7ddc8f10-0d8c-11e8-9faf-eea6fadc2ea7.png)
`
2.3.0 :020 > olc.encode(43.845825324701, 87.6474347905425)
 => "8MM9RJWW+8X"
2.3.0 :021 > [olc.decode('8MM9RJWW+8X').latitude_center, olc.decode('8MM9RJWW+8X').longitude_center]
 =

[2018-02-09 09:53] bocops commented on #134
@qwlong Each plus code refers to a surface area, not a single surface point.

In your example, you are using a code length of 10 while encoding, which means that the area being addressed by the resulting plus code is 0.000125° x 0.000125°, and is supposed to contain the original location.

When decoding, you are retrieving the center location of that area, which can have a difference to the locati

[2018-02-23 14:35] pokey opened #137 "Add pip package for python project"
It would be great if the python project were installable via pip.

[2018-03-07 20:15] maimizuno commented on #65
Just touching base.... Since I have no knowledge of how to do git repositories, if you were willing to walk me through it, I could try. Otherwise, I'd prefer to just hand it to you (with proper credit/attribution) for uploading to your project. See me online (IRC; email me for the address) or comment here.

[2018-03-13 20:30] LemmaEOF opened #138 "Non-Roman Scripts"
Currently, Plus Codes only work with roman characters A-Z and arabic numerals 0-9. While this isn't an issue in any countries that use roman-scripted languages, it can be _incredibly_ alienating to anyone whose primary or only languages use non-roman scripts. This can be a huge barrier to understanding and ease of use if users don't know or understand Roman script. What should Plus Codes do for no

[2018-03-14 10:43] hrbrmstr opened #139 "Consider adding R's olctools"
@ironholds created https://github.com/Ironholds/olctools back in 2016. It really should be in this list of OLC implementations.

[2018-03-14 11:07] drinckes commented on #138
Hi @Boundarybreaker . Yeah, we thought a lot about this. We talked to a bunch of people from countries with other scripts, and they pointed out they used A-Z0-9 to enter URLs so didn't perceive it as an issue.

A-Z0-9 is either the first or second choice of input characters for most people, and we wanted, initially at least, to have a single representation (otherwise you end up navigating to 9GHJ+

[2018-03-14 11:24] bocops commented on #138
@drinckes Just as an observation, seeing the '9' and '8' characters in the correct place of a potential different-script plus code makes it immediately more trustworthy to me.

I agree that it might be best to use just one character set - but if using localized variants is deemed necessary at some point in the future, mapping individual characters to similar looking ones (like 'M' to 'П', 'N' to '

[2018-03-14 12:02] drinckes commented on #139
Sounds good to me. I'd suggest a top level 'other' directory with a markdown file that just lists them alphabetically. If you want to send me a pull request I'd be happy to take a look at it.

[2018-03-14 13:40] drinckes commented on #138
@bocops ha so we've already been through a cycle of thinking about cyrillic (several people on the team are familiar with it).

One problem is that looking similar != sounding similar.  Cyrillic Р looks like Roman P but is pronounced "er", and that raises the question of do you use it in place of P? Or R? Or neither?

If we can only use symbols that are both visually distinct, and sound different

[2018-03-14 14:22] Chaz6 opened #141 "Multiple occupancy buildings"
From reading the specification I could not work out how to identify for example flats that are vertically stacked within a high-rise multiple occupancy building.

[2018-03-14 14:41] drinckes commented on #141
The quick response is that plus codes are aiming to be the street name and number (because the big problem is that most of the world doesn't have a street name).

Floor numbers, suite or apartment or flat numbers is something that has existing local conventions. We didn't think we needed to break those and if we included them into the code we'd lose the ability to have similar codes for nearby loc

[2018-03-14 14:41] #141 closed

[2018-03-14 15:07] bocops commented on #138
Right - another problem with that will be that choosing _either_ similar looking _or_ similar sounding characters likely will lead to an unsorted character set. I know that GX00+ is adjacent to HX00+, because 'G' and 'H' are consecutive letters of the latin alphabet. The same will probably not be the case with their replacement characters, however chosen.

[2018-03-14 20:49] dharkness opened #142 "Define how to render in right-to-left languages"
I assume the plus code will be written unchanged (left-to-right) even in RTL languages, but it would be good to specify it. If English were RTL, this is what I'd expect:

[2018-03-16 06:56] padthu opened #143 "I can't use my html page"
hi

        it is really good thing. and i try to put my html page.but it can't show anything then i check console also. it shows some key problem. even i download and try githup fie also. but, it is not work.

[2018-03-16 10:30] drinckes commented on #143
I'm sorry, I don't understand your problem. What is it you are trying to do?

[2018-03-16 10:31] drinckes commented on #143
NB: If it's easier over email, and it's not directly related to the github files, you can email the public mailing list at open-location-code@googlegroups.com

[2018-03-16 10:31] #143 closed

[2018-03-16 11:22] padthu commented on #143
if i create one webpage. and i add location map on one page. so,
how i initialise plus code instead of lat and lang.

On Fri, Mar 16, 2018 at 4:01 PM, Doug Rinckes <notifications@github.com>
wrote:

--
*B.Padmanaban*
*UI/UX DEVELOPER*

[2018-03-16 11:34] drinckes commented on #143
I suggest you look at the examples at [jsfiddle](https://jsfiddle.net/openlocationcode), especially [this one](https://jsfiddle.net/openlocationcode/h037ekt9/).

It displays a map and when you click on it, it gets the short plus code and the long code as well.

[2018-03-17 21:13] mullender opened #144 "Relation to Google S2 coordinate scheme"
What is the relation between plus code and the Google S2 coordinate scheme?
https://github.com/google/s2geometry

[2018-03-19 11:49] cumminsjp opened #145 "Has anyone generated the grid(s) for use in GIS?"
Do the grids exist in the form of a  GIS dataset? shapefile, spatialite, geojson, etc.?

I would like to have a reference layer of the grids with my own data and was wondering if anyone  generated this and made it available publicly.

![image](https://user-images.githubusercontent.com/5941336/37593873-f2b2fce0-2b49-11e8-9fe2-42afc65aa82b.png)

[2018-03-19 21:52] drinckes commented on #144
None, other than both came out of Google :-) . S2 is nice for computers but there were two things we wanted to achieve with plus codes:

*  Not spell words. S2 cell IDs are made up of 0-9 and A-F, so they can spell words.
*  Nearby places should have similar references. Using S2 you can have neighbouring locations with very different codes. (This is also true of plus codes but it's not as common.)

[2018-03-19 21:52] #144 closed

[2018-03-19 22:01] drinckes commented on #145
Hi, no, the grid doesn't exist as a shapefile, because at the fine levels it would be huuuuuge.

The easiest thing to do is to draw it for the area you want:

*  For a four digit grid, the lines are the degree latitude and longitude lines;
*  For a six digit grid, you have divide each degree into 20;
*  For an eight digit grid, you divide each degree into 400 (that is, each of the previous divisio

[2018-03-19 22:19] mullender commented on #144
Thanks for the clarification, you could probably add your answer to the list of other systems:
https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems

[2018-03-26 08:09] amchisty opened #146 "Plus codes in Google Maps"
Well, a couple of days back I noticed a nice feature (Plus Codes) in Google maps and immediately forwarded the screenshots and informed my friends to use it.

I checked again yesterday, it has disappeared..why what happened.

It would be nice if we could copy the code and send on social media messengers to locate our address.

[2018-03-26 23:40] benza86 opened #147 "error: package com.google.openlocationcode does not exist"
i have this error
**Error:(21, 35) error: package com.google.openlocationcode does not exist**

[2018-03-26 23:52] #147 closed

[2018-03-27 15:33] drinckes commented on #146
Hi, could you explain what you saw? If it's the plus code line on a business information card, on a smart phone, that's only shown for businesses in a few countries at the moment (BR, CV, NG, SO, ID, IN, RU).

Was that it?

[2018-03-29 13:21] seanmavley commented on #146
Currently showing in Ghana too. Just saying

[2018-03-30 03:50] LCBradley3k opened #148 "Supporting Apartment-Style Living"
Food for thought, but I see a problem when it comes to apartment-style living, especially one with a lot of floors. It might be of interest to look into solutions when say a building has 6 floors and 12 different families live in it. With Open Location Code, they would all fall into the same precise square - yet need to somehow be made unique.

[2018-03-30 11:05] bocops commented on #148
@LCBradley3k, things like these are regularly brought up - there's even a statement in the FAQ about it:

_Q: Why don't Open Location Codes include altitude?
A: We didn't want to append it as a suffix or bury it in the code because we
want to be able to truncate the codes reliably. We also didn't want to
unnecessarily extend the length of codes for what we expect to be a minority
of cases. Altitud

[2018-04-04 07:16] webstory opened #149 "About javascript code"
This is shorter solution
https://gist.github.com/webstory/9739339b163f765a36a3f7f353d55590

[2018-04-04 09:01] drinckes commented on #149
It is - but it only supports decoding length 10 or 11, and only encodes to length 11.

[2018-04-04 09:01] #149 closed

[2018-04-15 10:13] KarishmaSingh2301 opened #151 "Getting CORS Issue"
Hi,
I am calling the api:
https://plus.codes/api?address=17.422066,78.338942&key=<api_key>
I have enabled GeoCodingAPI in developer console. While I am trrying to get the PlusCode for the above address, I am getting error: "No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost' is therefore not allowed access."
Please suggest if I am doing anything

[2018-04-16 08:57] drinckes commented on #151
I retried it and I'm not getting the error - I tried from a browser and from a linux command line using CURL.

How are you making the request?

[2018-04-16 09:10] KarishmaSingh2301 commented on #151
This is an AngularJS application where I am using $http service. Code is as below:
      var apicall = 'https://plus.codes/api?address=' + latlang + '&ekey=' +Apikey;
                $http({
                    method: 'GET',
                    url: apicall,
                    headers: {
                        'Access-Control-Allow-Origin': '*',
                        'Access-Control-Allow-Met

[2018-04-16 12:34] drinckes commented on #151
OK, I've added access-control-allow-origin headers to API responses. Please let me know if that fixes the problem!

[2018-04-16 13:15] KarishmaSingh2301 commented on #151
Hi @drinckes ,
Thanks for your quick response. The issue has been resolved now.
Great work.
I am closing the issue now.
Many many thanks again.

[2018-04-16 13:15] #151 closed

[2018-04-16 15:45] drinckes commented on #151
No problem! Glad to help!

[2018-04-21 07:54] pranimation opened #152 "Add Maven repository for devlopers"
Please add maven repo of lib,This could help many android or cross platform developers.

[2018-04-25 19:48] benza86 opened #155 "how can I determine locality names border?"
how can I determine border of city (locality names) like:
796QR7P7+:Lomba Tantum",
            "796QR7R7+:Palhal",

[2018-04-27 22:12] abdultanveer commented on #145
like to have a 10 digit grid overlaid on maps in which
1. repeated first 5 digits should be in small fonts and color coded
2. next 3 to be slightly bigger
3. next 2 big enough

[2018-04-28 01:21] nyurik opened #156 "Converting pluscode to a long hash for internal usage"
I'm thinking of adapting plus codes for Elasticsearch, which already has [geohash_grid aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-aggregations-bucket-geohashgrid-aggregation.html).  Internally, it uses long integers to optimize data manipulation (in Java)  What would be a good way to convert plus codes to a long, given lat,long,and code precision?  Thx!

[2018-04-28 09:54] bocops commented on #156
@nyurik Plus codes already are a numerical value in base-20, with the caveat that some of the positions can also be "0" to basically denote that we don't care about that level of precision. So, doing the following would be my first idea:

1. Input: valid OLC string
2. Remove '+' character and pad to fixed maximum length (for example 10) using '0' characters.
3. Consider that string to be a base-21

[2018-04-29 01:07] nyurik commented on #156
@bocops thanks for your suggestion!  I ended up implementing something very similar, just without the extra padding since the user already supplies the precision (grid cell size), making it a very convenient thing to reuse.  Check it out - https://github.com/elastic/elasticsearch/pull/30231/files?diff=unified#diff-108b0a96a65f3a2bc1a0443ae4242e0aR382

[2018-04-29 10:38] bocops commented on #156
@nyurik Ah, so Elasticsearch only ever compares grid cells of the same precision? In that case, the padding is unnecessary, right. :)

[2018-04-29 14:11] nyurik commented on #156
Right, within one search request the precision is constant.

[2018-04-29 20:05] LafayetteTravel opened #160 "Fixing Acadiana"
Hello,

Acadiana is currently located in the incorrect place.

862CCVWP+GX
(30.4463018,-91.1126054)

This brings you to an area located in the middle of Baton Rouge, when this is far from where this needs to be.

Acadiana is a 22 Parish region of Louisiana, and Lafayette, Louisiana is considered the heart of it.

https://en.wikipedia.org/wiki/Acadiana

https://en.m.wikipedia.org/wiki/Flag_of_Acadi

[2018-04-30 09:42] bocops commented on #160
This seems to be similar to an issue previously discussed on the mailing list: https://groups.google.com/forum/#!topic/open-location-code/40rTruLnAX8

Plus codes are not "assigned" to a locality, but are just a different representation of the already existing lat/long coordinates that Google Maps has for some location. If Google Maps returns the wrong coordinates when entering the search term "Aca

[2018-04-30 10:05] bocops commented on #155
@benza86 There is no specific plus code for arbitrary shapes if that's what you're asking.

Every plus code corresponds to a near-rectangular surface area, the size of which depends on the precision of the plus code. An arbitrary shape like the area of a city could be defined by a collection of several plus codes, but there is no officially defined syntax for such a collection yet.

[2018-05-01 21:01] sqlquery opened #161 "Feature Request: Add function like getNeighbors() to openlocationcode.py"
having a function like the java one at this URL would be extremely useful for this python guy, thanks...Rich

Feature Request:

create function like getNeighbors() in openlocationcode.py
from https://github.com/bocops/open-geotiling/blob/master/java/org/bocops/opengeotiling/OpenGeoTile.java

/**
     * Get an array of the typically 8  neighboring tiles of the same size.
     * @return an array of

[2018-05-02 20:29] joshuaherman opened #162 "Request Maven Repository"
To simplify android use I would like to request a maven repository.

[2018-05-02 20:30] joshuaherman commented on #162
Closing because issue has already been requested.

[2018-05-02 20:30] #162 closed

[2018-05-02 20:30] joshuaherman commented on #152
+1

[2018-05-17 06:10] zongweil commented on #160
Hi @LafayetteTravel,

As @bocops mentioned, this is an issue with what Google Maps is returning to us, which we unfortunately have no control over. From the thread on the mailing list, it sounds like you already have a contact within Google. If not, you can either submit the feedback via Google Maps or let me know and I can file a bug internally with the appropriate team.

I'm going to mark this i

[2018-05-17 06:10] #160 closed

[2018-05-17 06:13] zongweil commented on #161
Hi! Thanks for the feature request. Can you provide a little more info about your use case? What does a function like that help you accomplish?

[2018-05-17 06:27] zongweil commented on #142
Yes, plus codes will keep the same format in a RTL language. Can you clarify what you mean by specifying it? Do you mean to reverse the plus code digits in a RTL language?

[2018-05-17 08:44] bocops commented on #161
@zongweil For context, the function @sqlquery mentions was written by me and published after discussions on the mailing list. Here are two threads in which potential use cases are discussed:

https://groups.google.com/forum/#!topic/open-location-code/qmqDqwStWVw
https://groups.google.com/forum/#!topic/open-location-code/oboqfq6kVks

[2018-05-17 17:27] joshuaherman commented on #152
If you really want Curbmap can do the same for Maven as we did for Cocopods.

[2018-05-17 23:52] dharkness commented on #142
No, I'm simply suggesting that someone add language to the specification spelling out how to render plus codes in RTL languages. Don't leave it open to interpretation for implementors.

[2018-05-19 22:28] zongweil commented on #152
@joshuaherman Thanks for the offer and for maintaining the Swift implementation. Since the Java implementation is part of this repo, I think it will make sense for us to include the Maven configuration here.

If you have some free time and want to set up the configuration and test it out, I'd be happy to review the pull request. Otherwise I'm hoping to get to this in the next few weeks.

[2018-05-19 22:29] zongweil commented on #142
Got it. Thanks for the clarification. I'll start a thread internally about being explicit regarding RTL languages.

[2018-05-20 23:44] maimizuno commented on #65
We're writing to let you know that the group you tried to contact (pluscodes) may not exist, or you may not have permission to post messages to the group. A few more details on why you weren't able to post:

 * You might have spelled or formatted the group name incorrectly.
 * The owner of the group may have removed this group.
 * You may need to join the group before receiving permission to post.

[2018-05-21 00:16] zongweil commented on #65
Just updated the permissions. Can you try again?

[2018-05-21 01:40] maimizuno commented on #65
I will, but, I'm curious what needs to be 'worked out' privately?

I wrote the code, it's tested, and I'm offering it.
I do not know enough about GIT {nor care, to be honest] to create some spin-off repository to post it.
It's not my creation anyway; it's yours. I simply translated it into another language [and did some tweaking and bug-fixing (already reported)].
Either it's beneficial and I can

[2018-05-21 01:57] zongweil commented on #65
Sorry that this feels so complex. I was planning to walk you through how to use Git over email, but it sounds like that approach is out of the question now.

The normal way you integrate new code into a Github repo is to create a fork of the main repo, make changes to your copy of the repo, then send a pull request with the changes back to the main repo. That's what it means to "post it" in the Gi

[2018-05-21 02:00] zongweil commented on #156
Closing this out as part of cleanup since it sounds like you found a way forward. Thanks for the reply @bocops!

[2018-05-21 02:00] #156 closed

[2018-05-21 02:07] zongweil commented on #12
@drinckes is this still applicable?

[2018-05-21 07:08] maimizuno commented on #65
[openlocation-tcl.zip](https://github.com/google/open-location-code/files/2021557/openlocation-tcl.zip)

[2018-05-22 01:10] nickmccurdy commented on #146
Is this only available in mobile apps so far? I don't see it on the Google Maps site on desktop.

[2018-05-24 07:43] drinckes commented on #146
Yes, @zongweil is correct. At the moment it's mobile only. Revealing in desktop maps is being worked on.

[2018-05-24 07:43] #146 closed

[2018-05-25 16:23] tspoke opened #164 "Typescript version"
Hi,

I just wrote a typescript port of the JS version. I put it in my Github Account; I did some tests but I still need to add more tests (using your set of tests).

What's the procedure then ? Should I keep the code on my own repository or you prefer to move it here ?

Thanks.

Link to the repo : https://github.com/tspoke/typescript-open-location-code

[2018-05-25 17:36] zongweil commented on #164
Hi! Thanks for reaching out. Since we don't have a Typescript implementation yet, we'd love to include it here (with attribution of course). Once you have passing tests, feel free to send a pull request.

[2018-05-29 10:25] bocops opened #166 "Java implementation - why "final"?"
Is there a reason for the OpenLocationCode class of the Java implementation being "final"? If not, can we remove that?

My reasoning is that, currently working on an app displaying plus codes to its users, it would be useful to create project-specific, additional functionality (like displaying a shortened code in some, but a full code in other, situations) using inheritance instead of having to wr

[2018-05-29 15:52] drinckes commented on #12
Probably - to languages other than C++. I think @tgulacsi is pointing out that Go is also having underflow problems without a max length.

[2018-05-29 21:32] zongweil commented on #166
Great question! I originally added the final modifier, so I can answer.

The OpenLocationCode class is [immutable](http://thefinestartist.com/effective-java/15), meaning once it's instantiated, it can't be modified. You'll notice that the methods in the class return a new instance instead of modifying the existing one. This has benefits such as thread safety and being less error prone.

In order f

[2018-05-30 10:03] bocops commented on #166
@zongweil Thanks for the reply! Thread-safety makes sense, and is likely a bigger fish to fry than anything else - but for the sake of completeness:

The situation I mentioned (conditionally shortening a plus code) would definitely work with composition - in some other situations, though, I find myself copying private implementation details to make functionality work outside of the OLC class.

For

[2018-05-30 14:24] tspoke opened #168 "Feature request : Polygone to Plus Code area"
Hi,

I'm looking for a feature, but I can't see it in any of the repository. I hope I missed it!

*Is there any implementation of the following problem ?*
From a closed polygon (array of Point(lat, lon)), I would like to determine the list of all the plus code inside this polygon (area) with a specific precision (inclusive or exclusive).

Thanks !

[2018-05-30 16:47] zongweil commented on #166
Thanks for the details! I don't see a problem with exposing those variables publicly. Feel free to send over a pull request :).

[2018-05-30 16:51] zongweil commented on #168
@bocops Is this something your [OpenGeoTile library](https://github.com/bocops/open-geotiling/blob/master/java/org/bocops/opengeotiling/OpenGeoTile.java) could support?

[2018-05-30 21:26] bocops commented on #168
@zongweil Sounds very much like it, thanks for mentioning me. I'll be looking into that.

[2018-05-31 01:32] zongweil commented on #166
Merged! Closing the issue.

[2018-05-31 01:32] #166 closed

[2018-05-31 17:37] zongweil commented on #152
Maven config is there, next step is to add the library to Maven Central.

[2018-06-01 08:50] bocops commented on #168
@tspoke I'm not yet completely happy with it, but I added this functionality to the "tile-area" branch of the repo @zongweil mentioned. Basically, you could now do:

    ArrayList<Coordinate> coordinates = ...; // list of coordinates goes here
    OpenGeoTile.TileSize tileSize = ...; // precision of resulting area
    TileArea area = new TileAreaPolygonalBuilder()
        .setTileSize(tileSize)

[2018-06-01 09:03] tspoke commented on #168
Hi @bocops,

That's very cool ! Thank you a lot, I think it's a great feature :)
Give me some time to test your implementation, I will give you some feedback asap.

[2018-06-01 09:03] #168 closed

[2018-06-07 19:39] #164 closed

[2018-06-18 01:13] zongweil commented on #152
Hey all,

Version 1.0 is now available in Maven Central. You can see the code here: https://oss.sonatype.org/content/groups/public/com/google/openlocationcode/openlocationcode/

Give it a try and let me know if including it via Maven Central is working for you! :)

[2018-06-29 19:59] #152 closed

[2018-07-02 16:46] #142 closed

[2018-07-06 15:25] mu10 opened #178 "INVALID_REFERER for ekey without referer"
I can't make request with ekey but without http referrer works.
It always returned INVALID_REFERER.

`{"error_message":"Needs Google API key to locate addresses","status":"NO_API_KEY","keyerror":"INVALID_REFERER"}`

On the wiki said, referrer is only needed for extra security.
 Is it become mandatory now?

PS: I also wonder if Plus Codes can actually requested directly via Google Geocoding API?
Be

[2018-07-06 15:40] zongweil commented on #178
@drinckes to explain ekey/referrer behavior

Plus codes in the Geocoding API is being worked on right now! Doug, do we have an ETA we can share?

[2018-07-07 07:33] dsall opened #179 "Trying to use Open Location Code with react-native"
Hi guys,
I am trying to use open-location-map with react-native.
My react-native-app is created with expo, therefor i don't have access to the different android and ios folders in order to create some native methods using the Java version of open-location-code.
I was trying to just use the Javascript version, but when i try to import it in any other javascript file it gives me some errors.
I was t

[2018-07-09 08:19] drinckes commented on #178
Looks like there's a bug handling these requests. I'll look into it now.

[2018-07-10 05:40] zongweil commented on #179
Hey @dsall,

What kind of errors does importing it give? Unfortunately, I don't think anyone's tried to use OLC in a React Native app before.

[2018-07-10 06:00] dsall commented on #179
@zongweil  I was just trying to run it with m computer using node. I ended up getting some help from a friend and it worked. I am pretty sure that I can import it to my react native app and use it right now.
I had to remove the "require('b')" on line 70 in the JS source file. After removing that it worked. I on't know how important that part of the code is.

![image](https://user-images.githubuser

[2018-07-10 13:40] drinckes commented on #178
Hi @mu10 sorry about that, there was a bug in the processing of encrypted keys. I've fixed it and pushed an update to the live site, your requests should work now. Thanks for letting us know about it, let us know if it recurs.

As @zongweil mentioned, we're working on including plus codes in the normal Google APIs. It's already in the [Places API](https://developers.google.com/places/web-service/s

[2018-07-10 13:40] #178 closed

[2018-07-12 04:35] zongweil commented on #179
Glad to hear it worked! Thanks for sharing your results.

I'm not too familiar with the JS implementation. Maybe @drinckes knows what that line does?

[2018-07-12 08:57] drinckes commented on #179
From memory I think that chunk of code is designed to get it to work in both "plain" JS and Node.js. I'm not sure if I added it or it was contributed by someone else, but I'm not a Node.js expert.

[2018-07-27 16:05] viettaml opened #184 "Decode() accepts latitude digits beyond North Pole"
"C2000000+" is a slice at the North Pole. But Decode() will accept "F2000000+" and return a CodeArea with latitude values of 110 degrees.

Now that I think about it, Decode() has no way of signaling an error other than returning an invalid CodeArea, so maybe the solution is to add an IsValid() method to CodeArea.

[2018-07-27 20:10] viettaml commented on #184
(Forgot to mention I observed this in the cpp implementation; can't speak to the others.)

[2018-08-02 15:21] viettaml commented on #184
Looking at the Decode() implementation some more, it's clear that it doesn't perform any sort of validation. And maybe that's intentional, in which case the correct "fix" would be for openlocationcode::IsValid() to reject codes such as "F2...".

[2018-08-02 15:37] bocops commented on #184
Seems to be true for the Java implementation as well. There's **isValidCode(String)** which _does_ check the first two characters of a plus code - but that method doesn't seem to be called from **decode()** either directly or indirectly.

[2018-08-02 15:41] bocops commented on #184
Actually, disregard that. In the Java implementation, an OpenLocationCode object can only be created with a code string that passed the isValidCode() check in the first place.

[2018-08-02 17:41] zongweil commented on #184
@drinckes what do you think about this? Should we modify isValid in the C++ implementation?

[2018-08-02 20:50] viettaml commented on #184
I think maybe this is working as intended, and that what I think of as "IsValid()" is actually fulfilled by "IsFull()" which does appear to validate (albeit inefficiently) the first two digits.

[2018-08-03 07:56] drinckes commented on #184
I'm not a c++ expert so I'm happy to defer to others on what the best solution is. Since we don't throw exceptions, we're going to accept an invalid string and return something. The question is, what should the something be?

I'm tending to lean away from adding a flag attribute to the codeArea but I'm reasonably happy with saying that a code area that is all zeros (lat lo, lat hi, lng lo, lng hi,

[2018-08-06 18:09] viettaml commented on #184
SGTM. I'll have a go at implementing this when I have a few minutes. Thanks!

[2018-08-06 22:01] viettaml commented on #184
https://github.com/google/open-location-code/pull/185

[2018-08-07 07:55] drinckes commented on #184
An alternative (and I know you did just send a pr), would be to refactor decode() to take as arguments the code string, and a pointer to a CodeArea, and return a bool depending on whether the code string was valid:

[code]

That would change the method signature though. At first thought that's a disadvantage, but it would mean that because the code would have to be refactored, anyone using this me

[2018-08-07 19:10] viettaml commented on #184
I'm reluctant to change the syntax of an existing function, though I'm more open to adding or overloading the function. That being said, even after my PR Decode() doesn't do a full job of validating codes, so I wouldn't want users relying on it to do so (they should use "IsFull()" instead or first, which does seem to reject the out-of-range codes that initially prompted this report, in addition to

[2018-08-14 09:41] simonpoole opened #186 "Library jar not actually included on maven central"
Currently only the pom.xml is present on maven central, wit https://search.maven.org/search?q=g:com.google.openlocationcode which is not particularly useful.

[2018-08-14 15:28] zongweil commented on #186
Thanks for bringing this up! I'll look into this. Do you happen to know what needs to be changed to include the JAR? Is it a pom.xml configuration issue?

[2018-08-31 10:40] kroka commented on #186
This issue might be caused by `<packaging>pom</packaging>` in https://github.com/google/open-location-code/blob/master/java/pom.xml#L14
I assume that the value should be `jar` instead.

* https://maven.apache.org/repository/guide-central-repository-upload.html
* https://central.sonatype.org/pages/requirements.html#correct-coordinates

[2018-08-31 21:16] zongweil commented on #186
Thanks @kroka - that was the issue. MavenCentral shows the correct files now (https://search.maven.org/search?q=g:com.google.openlocationcode). Note that the version is now 1.0.0 instead of 1.0. We will go with that version scheme going forward.

[2018-08-31 21:16] #186 closed

[2018-08-31 21:27] simonpoole commented on #186
Thanks @zongweil didn't have time to actually look at the issue.

[2018-08-31 21:39] zongweil commented on #12
As discussed in [this thread](https://groups.google.com/forum/#!topic/open-location-code/mtnV1VF_K6k), we are going to internally limit the number of characters that we process. This will avoid underflow errors.

It will take a while to update all the libraries.

[2018-08-31 21:43] zongweil opened #190 "Add an internal max plus code length to all OLC implementations"
As discussed in [this thread](https://groups.google.com/forum/#!topic/open-location-code/mtnV1VF_K6k), we will internally process a max of 15 digits when encoding/decoding plus codes. This provides ~1cm x 0.5cm precision and will prevent the underflow errors mentioned in #12.

Specifically, the following changes will be made:

- If you ask the library to encode a lat/long with more than 15 digits,

[2018-08-31 21:44] zongweil commented on #12
I'm going to close this bug now that we have a solution going forward. #190 tracks the work of updating all the libraries.

[2018-08-31 21:44] #12 closed

[2018-09-03 05:13] bgirardot commented on #145
@cumminsjp @drinckes has created a TMS server that will hopefully get hosted soon that sounds like it might meet your needs. I put some examples on twitter while I was testing it: https://twitter.com/BlakeGirardot/status/1036300493717467136

[2018-09-03 19:42] debbieann03 opened #193 "Request"
https://maps.app.goo.gl/Y8wYoWArXNGP9Wpy2

[2018-09-09 15:36] answerquest commented on #145
precision level | intervals in lat-long units
-- | --
 10 | 0.000125
 8 | 0.0025
 6 | 0.05
 4 | 1
 2 | 20

We can generate the grid lines in [QGIS](https://www.qgis.org/).

Just make sure your starting lat-long values are an **exact multiple** of the interval values for your chosen precision level you want.
example : Creating a grid with **precision 6** : starting latitude cannot be `16.4563`. Cha

[2018-09-09 16:19] answerquest opened #194 "LibreOffice macro doesn't work after saving and exiting"
I followed the visualbasic instructions for LibreOffice and it worked, I was able to run a function in my cells to generate pluscode : `=OLCENCODE(A2,B2)`

But after saving and closing the file, on opening it again, I got a macros-disabling notification, and the functions no longer worked. They simply return the latitude value.

I followed the steps [shown here](https://www.youtube.com/watch?v=sK9

[2018-09-10 08:53] drinckes commented on #145
Hi Nikhil,

That's great information! I've put it into a wiki page on the github site
<https://github.com/google/open-location-code/wiki/Supporting-OLC-in-GIS>,
feel free to edit and add more if you like.

Ngā mihi,
Doug Rinckes, Technical Program Manager, Google Switzerland GmbH; 9G8F+6W Zü
rich <https://www.google.com/maps/search/9G8F%2B6W%20Z%C3%BCrich>

On Sun, 9 Sep 2018 at 17:36, Nikhil VJ <

[2018-09-10 13:18] maqalaqil opened #195 "the library in android"
how could i get the library in android i couldn't find it in the java folder

[2018-09-11 03:55] zongweil commented on #195
We intentionally left the jar out, as we didn't want to maintain a jar there separately.

You can download the jar from [Maven Central](https://search.maven.org/artifact/com.google.openlocationcode/openlocationcode/1.0.0/jar) or even better, including it as part of your Gradle dependencies with the following line:

compile 'com.google.openlocationcode:openlocationcode:1.0.0'

[2018-09-11 03:58] zongweil commented on #194
Assigning to @drinckes, who wrote the plugin.

[2018-09-11 03:58] zongweil commented on #193
Closing as this looks like an accidental submission.

[2018-09-11 03:58] #193 closed

[2018-09-11 10:26] bocops opened #196 "OLC specification doesn't strictly state validity status of codes with odd length <11"
Referring to the OLC specification here: https://github.com/google/open-location-code/blob/master/docs/olc_definition.adoc

A question about codes with odd length <11 has been brought up here: https://groups.google.com/forum/?pli=1#!topic/open-location-code/IGhD6rc2EsQ

I wanted to reply that these codes are considered invalid via the OLC specification - because that is how the implementations han

[2018-09-13 08:38] maqalaqil opened #202 "DaggerLocationProviderFactoryComponent"
this importation is not working how can i find the library or how could i resolve the issue

[2018-10-03 00:57] fintelia opened #214 "Publish Rust library on crates.io"
The process for publishing a crate is described [here](https://doc.rust-lang.org/cargo/reference/publishing.html).

[2018-10-05 17:48] zongweil commented on #196
Adding @drinckes to consider modifying the spec.

[2018-10-18 20:36] #195 closed

[2018-10-18 20:37] zongweil commented on #202
Make sure you have Dagger v2 installed: https://google.github.io/dagger/

[2018-11-02 16:48] CuriousJM opened #222 "Google Earth Doesn't Understand Plus Codes"
When I paste the Plus Code of a location, copied from Google Maps, into Google Earth Search I get an error "We couldn't understand this location".

I don't know whether it is Plus Code problem or GE problem. Taking it up with GE also

[2018-11-02 17:02] CuriousJM commented on #222
Checked with Google Earth - The problem seems to be at their end. Hopefully it will be resolved soon.

[2018-11-02 18:07] zongweil commented on #222
Thanks for following up with Google Earth! I'm going to close this issue since it doesn't seem to be on our end. Feel free to re-open if that changes.

[2018-11-02 18:07] #222 closed

[2018-11-02 22:06] gonzus commented on #190
Maybe you want to reference PR #220 for the C implementation.

[2018-11-05 12:38] drinckes commented on #222
There's two versions of Google Earth - the one on android/mobile/chrome, and Earth Pro on Desktop.

There was a problem in Google Earth Pro, but it's **just** been fixed. If you go to https://www.google.com/earth/desktop/ and download the latest version, plus code searches in Google Earth should be working.

[2018-11-07 18:30] teamcoltra opened #223 "MapCode vs Plus Code?"
Looking at your list of different systems, I notice no actual flaws in your analysis of MapCode and am curious the decision to come up with a new system instead of supporting the existing one that matches your requirements?  or did I miss something?

[2018-11-07 22:16] bocops commented on #223
There are quite a few issues being mentioned for MapCodes:
- "a data file needs to be maintained and distributed"
- "cannot be truncated"
- "single location can have multiple different codes"
- "challenges distinguishing visually similar codes" [in non-latin character sets]

https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems

[2018-11-08 11:23] thw0rted opened #224 "Comparison with MGRS?"
I read the whitepaper and was surprised not to see an entry for [MGRS](https://en.wikipedia.org/wiki/Military_Grid_Reference_System).  It's been a NATO standard for decades and is capable of expressing areas down to meter-square precision with 14 characters.  Codes are unique and only include 3 letters (not enough for a 4-letter word...), and the letters are always in the same place so there's no

[2018-11-08 12:21] drinckes commented on #224
This question has been asked before
<https://groups.google.com/forum/#!topic/open-location-code/qJyxJ73jaYs>:

   - One point can have multiple MGRS codes (because the 100,000 meter
   squares necessarily overlap)
   - Nearby locations can have wildly different codes
   - And it's not much of an improvement over lat/lng, since there are
   still two numbers but now you have a bunch of letters as w

[2018-11-08 12:27] #224 closed, assigned to nobody

[2018-11-08 17:31] Masturedehghanipoor commented on #223
Hello my friend
Please turn Off this post for me
Tanks

On Nov 7, 2018 10:00 PM, "Travis McCrea" <notifications@github.com> wrote:

[2018-11-15 12:12] drinckes commented on #196
My general feeling is that implementations should not create codes with 1,3,5,7 or 9 digits, but if given one they should decode it: Be conservative in what you do, be liberal in what you accept from others.

I'm open to a discussion though.

[2018-11-15 12:50] bocops commented on #196
@drinckes I'm not sure this is what currently happens, though. For example, in the Java implementation, there's the following check in isValidCode():
[code]
isValidCode() is called when trying to create an OLC instance from a string (which is a prerequisite for even the static decode() method to work), so it currently shouldn't be possible to decode a, say, 9-digit plus code in Java.

I'm not sure

[2018-11-26 08:02] a-raccoon opened #235 "Rubbersheet and shifting plate tectonics"
I realize OLC has been around for a couple years now, but this is a matter that affects all lat-lon coordinate systems and should eventually be addressed by somebody.  I figure I'll expound my grievances here.

While it was not explicitly mentioned in the Desired Attributes list, there was one attribute that was implicitly sought to be avoided, as reasoned by this statement:  "[A]nd multiple diffe

[2018-11-26 10:51] victorvartan opened #236 "TransactSQL implementation"
Hi everybody!

I wrote a TransactSQL function to encode Open Location Codes from latitude and longitude pairs directly in the database.
I only added the encoding part for now, as I think it's the most important, and when I'll have some time I want to do the same for the others (shorten, extend, test etc.).

Here's the link to the repo: https://github.com/victorvartan/OpenLocationCode-TransactSQL

[2018-11-28 09:56] drinckes opened #241 "Add benchmark code to tests"
We should add benchmarking code to the tests so that performance impact of code changes can be identified.

Since the travis CI runs the tests on every pull, this should make performance testing of changes easy.

[2018-11-28 10:36] drinckes commented on #241
Go benchmarks added in #240

[2018-11-29 15:25] fulldecent opened #243 "Google search fails for plus codes"
# Test case

1. Generate a valid plus code
2. Search in Google search

# Expected outcome

Search result shows location. This specification is advertised at https://plus.codes/developers:

# Actual outcome

Search result does not show location.

<img width="1158" alt="screen shot 2018-11-29 at 10 13 12 am" src="https://user-images.githubusercontent.com/382183/49231195-6e527180-f3bf-11e8-886b-9f298

[2018-12-03 10:38] drinckes commented on #243
Google searches only support codes of at least 10 digits (that is, two digits after the +). You can do a search for a shorter code in Google Earth, but it must be a global code ("8FVC4WCH+") not an address ("4WCH+ Zurich, CH" does not work).

Currently our focus is on supporting searches at an address level, not at this larger level. If you can explain your use case we can use that to prioritise a

[2018-12-03 18:36] shindakioku opened #245 "Dart repository"
I can try to make some refactorings and update code for 2.1 version of language.
@drinckes

[2018-12-03 20:04] zongweil commented on #245
Can you be more specific on what you want to refactor? What are you hoping to accomplish as a result of the refactor?

[2018-12-04 00:47] fulldecent commented on #243
Thank you. Now that I understand the position, I believe the discrepancy can be resolved by editing

https://plus.codes/developers

to state:

If https://plus.codes/developers is on GitHub then I can send a PR.

[2018-12-10 20:16] evert opened #248 "Suggestion: uri scheme"
An identification system can benefit from a uri scheme. Other examples:

    mailto:example@example.org
    tel:+1555445323
    geo:43.653349,-79.398685
    urn:ISBN:0-395-36341-1

Has this been considered for this project? I think it would be a great addition to make it work in various other systems that are already enabled to work with uri's.

[2018-12-14 03:59] zongweil commented on #248
Can you expand on the potential benefits that you see? One of the advantages of plus codes is that you can identify them from a random string without needing to be told that it's a plus code via a URI. Not sure if that's what you were referring to or if there were other benefits you had in mind.

@drinckes to comment if any thought has been put into this

[2018-12-14 03:59] zongweil commented on #245
That all sounds good. Feel free to add me as a reviewer on the PR.

[2018-12-14 04:04] zongweil commented on #236
Thanks for sharing Victor!

[2018-12-14 04:04] #236 closed

[2018-12-14 04:06] evert commented on #248
One advantage is that, as a uri, it can appear in existing formats that already take uri's, such as `<link>` elements in HTML, RFC / JSON-LD, or basically any web technology that machines can parse.

Or is this project strictly intended for reading by humans / unstructured text? Would you recommended to always convert to the `geo:` uri schema for machine-to-machine communication?

Worth noting tha

[2018-12-18 04:46] zongweil commented on #245
If you have some more time and since your environment is set up already, would you mind implementing an internal max length for the Dart library? It should be identical to what was done in #242.

[2018-12-20 01:19] ANDRELOGIN opened #251 "Google Maps shows the wrong locality in the plus code address"

[2018-12-20 01:42] ANDRELOGIN commented on #251
I changed my address on google maps but the plus code doesnot change whit.
How can i change de plus code?

[2018-12-20 02:15] zongweil commented on #251
The plus code is attached to a specific area. On Google Maps, the area is roughly 13mx13m. If your new address is within that same area as the old one, it will still have the same plus code.

If this is not the case (your new address is far away from the old one), could you describe more what you mean? Are you talking about the plus code in the left panel of Google Maps?

[2018-12-20 02:30] ANDRELOGIN commented on #251
here:
https://www.google.com/maps/place/Rocha+Engenharia/@-27.0996503,-48.9226397,18.75z/data=!4m5!3m4!1s0x0:0x689338c56f1ceec4!8m2!3d-27.0999247!4d-48.922615?hl=pt-BR

the correct is: "Centro 1, Brusque-sc, and not "Aymoré, Guabiruba-sc"
Can you help please?

[2018-12-20 02:32] ANDRELOGIN commented on #251
"Are you talking about the plus code in the left panel of Google Maps?"
yes.

[2018-12-20 03:43] zongweil commented on #251
Thanks for clarifying. How did you change your address? Was it through Google My Business?

[2018-12-20 03:53] ANDRELOGIN commented on #251
You're wellcome, yes I change through GMB. Thanks for helping.

[2018-12-20 09:54] drinckes commented on #251
At the moment, the locality used in the plus code does not come from the address, but from the best guess for that location (given the plus code constraints). This is because some localities are too large, and some are so small and obscure that they aren't well known.

(Remember that ""W32G+2X Aimoré, Guabiruba" means the nearest W32G+2X to Aimoré, Guabiruba. It doesn't have to be *within* it, jus

[2018-12-20 09:56] #251 closed

[2018-12-26 18:27] LarBearrr opened #252 "Ajax request returning cors error"
I'm having similar issues as #151 however, the posted solution is not working.

I'd like to make a call to the API using AJAX if possible so I can return the global code for an address I will be using in a request to my backend. Here's my code:
[code]
currently returning `blocked by CORS policy: Request header field x-csrf-token is not allowed by Access-Control-Allow-Headers in preflight response.

[2018-12-26 18:31] zongweil commented on #245
@shindakioku was there anything else you were planning to do? Can I close this issue?

[2018-12-27 13:57] dantaya opened #253 "Distance"
I havn't been able to find this anywhere.

Is there any way to get all plus codes within 10 meters of a given one?

EX: I have a database of plus codes. I have a users location lat/lng. I need to query the db to get all records within 10 meters of the user.

Or would it be easier to query all lat/lngs in the radius? (in which, using pluscodes becomes almost useless for my application)

Thanks in a

[2018-12-27 15:02] bocops commented on #253
@dantaya That depends on how exact you need that "within 10 meters" part to be fulfilled.

1. Each plus code defines an area, the size of which depends on the length of the code (and your position on the globe, areas get smaller towards the poles). A plus code of length 10 ("XXXXXXXX+XX") defines an area of 0.000125° x 0.000125°, which means a side length of up to 14 meters.
2. Longer codes define

[2018-12-27 15:30] dantaya commented on #253
ok, so as I thought, I would have to pragmatically find all the codes that fit in the radius then query for them. As where with coords, I can query the radius directly from the db.

Your answer perfectly fit what I was looking for thanks!

[2018-12-27 15:30] #253 closed

[2018-12-29 15:21] 365ejk opened #254 "[olc_definition.adoc] - 11 digit's approximate area size"
There is kind of confusing statement in [olc_definition.adoc] regarding 11 digits area size.

Two statements:
"roughly 3.4 by 2.7 meters" vs "2.6m x 2.8m"

In context:
"we have an 11 digit code that represents a 1/32000° by 1/40000° area (roughly 3.4 by 2.7 meters)."
"A 10 digit code divided into its grid. Each small square is approximately 2.6m x 2.8m .."

It is confusing which is the real size f

[2018-12-29 15:28] 365ejk opened #255 "[olc_definition.adoc] "Code areas distort at high latitudes" - need more explanation"
"Code areas distort at high latitudes due to longitude convergence."

Is it solely due to "longitude convergence" ?
Is it also in such a way because plus codes method tries to cover as many latitudes as possible since north/south pole area is not much populated ?

Is it possible to add more explanation?

[2018-12-29 15:43] bocops commented on #255
No, it is solely due to convergence. OLC is basically just a repeated division of the existing lat/long grid - 20°, 1°, 0.05° etc. Longitudinal lines converge towards the equator, so the area defined by two of those lines gets distorted towards the poles.

This actually means that a plus code of any given length is more precise near the poles, not less. If population of an area was taken into acco

[2018-12-29 15:54] bocops commented on #254
The size of the area represented by an 11-digit code changes with its position on the globe. This has to do with the longitude convergence you asked about in a separate issue.

A paragraph before, the side length of a 10-digit code area near the equator is given as 13.9 by 13.9 meters. Divide that by 4 or 5 respectively, and you'll get an area of 3.4[75] by 2.7[8] meters.

Towards the poles, the f

[2018-12-29 19:21] shindakioku commented on #245
@zongweil Yep, sorry.
I have no time now :(
I will reopen this issue when have time with ideas.

[2019-01-07 10:04] drinckes commented on #254
Good catch, thanks for spotting this. I'll take an action to update the documentation.

[2019-01-07 10:05] drinckes commented on #254
Aaaaand the next thing I see is that @bocops has sent a fix. :+1:

[2019-01-07 13:30] malleo commented on #254
I found in the open location code definition and in several posts that (at the equator) the size of a given OLC area is equal in both width and height.
This is not what I find in the following examples:

Equator: circumference 40000 km (logitudinal range 360 deg/ latitudinal 180 deg)
Digit  1-2: Lon: 2000 km / Lat: 1000 km Lon: 18.0 deg       / Lat: 9.0 deg
Digit  3-4: Lon:  100 km / Lat:   50 km

[2019-01-07 13:33] drinckes commented on #254
Hi @malleo,

A two digit code is 20 degrees by 20 degrees.
A four digit code is 1 degree by 1 degree.

I'm not sure where you're getting your measurements? Could you post your example codes and let us know what software library you're using?

[2019-01-07 14:04] malleo commented on #254
Hi @drinckes,
My calculations were simple divisions by 20 for the first 10 digits based on the equatorial circumference of the earth (~40000km) and a full circle of 360 degrees for longitude and a half circle (180 degrees) for latitude. For the the 11th and 12th digit I divided the results for the 10th resp. 11th digit by 4 for longitude and by 5 for latitude.
If I sum up the 20 degrees for a 2 di

[2019-01-07 14:06] bocops commented on #254
@malleo The first two digits don't use all of the available OLC characters, but just 18 (x20=360) or 9 (x20=180), respectively.

[2019-01-08 15:09] drinckes commented on #252
Hi @LarBearrr, I think this is because your framework is including a `X-CSRF-Token` header in the request, and then the plus codes API doesn't declare itself as supporting this header, because it's not vulnerable to CSRF attacks (there's no authentication or state).

I assume you're using jQuery? Check your code for something that adds that header to the jQuery config - it might look something lik

[2019-01-08 15:15] LarBearrr commented on #252
@drinckes You are correct. I believe I solved this by deleting the header from ajaxSetup in this specific method before the request is made. My apologies for leaving this issue open and thank you for the reply!

[2019-01-08 15:15] #252 closed

[2019-01-08 15:17] drinckes commented on #252
Awesome!

[2019-01-10 13:01] malleo commented on #126
Wouldn't it be usefull to to have a table with entrys for each 4 digit OLC area code which contains unambigous locality names for each country or in total?
There are 64800 area codes in total. I guess about 50% of them are pure water or ice areas with no localities at all.
So if each entry would take about 50 bytes for area code locality and country name, that table would have a total size of abou

[2019-01-10 22:10] bocops commented on #126
I feel that that would be doing things slightly backwards.

First of all, the result of that suggestion would be a string like **_226J+9X_, F5, Washington D.C.** Basically, the plus code would no longer be a single string, but separated into a 4+2 short code and two additional digits that dangle between code and name. If we want to use 6+2 digits of the full code, anyway, it would be better to sho

[2019-01-13 03:46] justinelliotmeyers opened #257 "contact page outdated"
https://plus.codes/discuss

email here bounced back; is this e-mail working?
open‑location‑code@googlegroups.com

Thanks!
Justin

[2019-01-16 05:35] zongweil commented on #257
You have to be a member of the Google group in order to post (anyone can join). See https://groups.google.com/forum/#!forum/open-location-code. Try joining and emailing again :).

[2019-01-16 05:35] #257 closed

[2019-01-16 05:57] G00FTR00P9D commented on #257
Wats up

[2019-02-10 22:57] shawnvega opened #259 "Kotlin Translation"
I like this project, and by converting this code to Kotlin it would allow for multi-platform project with a single source code. I'm proposing that this code gets translated to Kotlin.

[2019-02-13 15:30] karaunderwood opened #260 "Under the Woods Event Center: incorrect plus code"
Hi, the plus code on my google business is completely wrong. Its taking people about 5 miles from my business. My address is correct but the plus code is wrong. How do I get this fixed??

Under the Woods Event Center
20121 US-71, Jane, MO 64856

[2019-02-13 15:57] bocops commented on #260
Plus codes are "just" a different form of writing down a set of coordinates. If the pin on Google Maps is correct, then the plus code should be correct as well.

In fact, when searching on Google Maps for "Under the Woods Event Center", a pin appears between Highway 71 and Tate Road, in the same location that is also used by the Maps widget on your web site, and when searching for the plus code of

[2019-02-13 16:26] PatsyClark commented on #260
Call me and I will explain it to you. I will move the location of your Google business listing flag.   Do you have access to your Google business platform you can do it also.  Google plus codes take the location of your flag.  I’m happy to help. Call me

Patsy Clark
Snap Realty
DBA/ Snap It Up Location Data Management
www.SnapItUp.Tech
919-971-7030

See what I've posted to Google Maps
Level 8 Loca

[2019-02-14 04:54] zongweil commented on #259
Thanks for the suggestion Shawn. I'm not super familiar with Kotlin, but it looks like Java libraries can be called from Kotlin [directly](https://kotlinlang.org/docs/reference/java-interop.html). Is there anything we would gain from having a Kotlin library as opposed to a Java one?

[2019-02-14 05:10] zongweil commented on #254
Closing this as @bocops clarified the docs.

[2019-02-14 05:10] #254 closed

[2019-02-14 05:11] #202 closed

[2019-02-18 11:16] drinckes commented on #260
Closing because as others have mentioned your listing on Google Maps looks like it's not at your actual location.

[2019-02-18 11:16] #260 closed

[2019-02-18 11:43] jaksco opened #265 "PL/SQL translation"
I'm not sure if it's possible but it would be really nice to get this translated into a postgres function. Then I could attach it to a db trigger. I'm sure this is frowned upon in some places but it makes sense for my application

I will do some research and post back here

[2019-02-18 12:06] jaksco commented on #265
oh I just realized I can just use Python as a stored procedure. I will just do that

[2019-02-18 12:06] #265 closed

[2019-03-05 16:01] u201701 commented on #152
wow, it actually worked in my android app; thank you @zongweil  :)

    implementation 'com.google.openlocationcode:openlocationcode:1.0.2'

[2019-03-05 18:15] zongweil commented on #152
@u201701 Glad to hear!

[2019-03-21 23:16] lazarillo opened #271 "What problem is this trying to solve?"
I don't mean for this title/header to come off as combative. I just ran across this concept of plus codes in its non-programming context (via the [plus codes home page](https://plus.codes/)).

As a programmer, this makes sense to me. We are all used to new paradigms, methodologies, and technologies popping up all the time.

But it seems to me that `open-location` is trying to get this to be a succ

[2019-03-21 23:35] zongweil commented on #271
@drinckes in case he has anything to add

Hello!

Thanks for the question and for explaining where you're coming from. You are correct in that plus codes are intended for general public usage. The website actually explains a lot of the benefits:

"A plus code is like a street address for people or places that don't have one.

Plus codes give addresses to everyone, everywhere, allowing them to rece

[2019-03-22 09:15] drinckes commented on #271
Hi @lazarillo - it's amazing the places where there are no street addresses, and the problems this causes.

Even within the US you have large rural areas without addresses, and this causes all kinds of problems, including management of voter registrations and boundary changes, deliveries, emergency service responses. In other countries lack of addresses fuels tax fraud and evasion, reducing the ab

[2019-03-24 05:00] JonMcPherson opened #273 "Short codes with padding are unintentionally considered valid"
The Open Location Code specification mentions that full codes with padding cannot be shortened, which would imply that a short code with padding is invalid.  However, the API reference for code validation does not specify anything about allowing or disallowing short codes with padding. And as such, most (if not all) of the implementations will determine short codes with padding as being valid (and

[2019-03-27 01:22] JonMcPherson commented on #273
ping @drinckes

[2019-03-27 13:29] drinckes commented on #273
Thanks for this, I'm going to take a look at it in the next couple of days.

[2019-03-29 16:30] drinckes commented on #145
In the meantime another option is to use the [grid service](https://grid.plus.codes)

This serves tiles that you can overlay into various maps and GIS platforms.

[2019-03-29 16:30] #145 closed

[2019-03-29 16:33] drinckes commented on #243
Source for the website is not on GitHub but I'll look into the change in our next refresh.

[2019-03-29 16:33] #243 closed

[2019-03-29 16:34] fulldecent commented on #243
Thanks for looking into this.

[2019-03-29 16:36] drinckes commented on #223
The big issue for me was that one place has multiple, wildly different references, since that would seem to be guaranteed to lead to confusion:

[2019-03-29 16:36] #223 closed

[2019-03-29 16:36] #271 closed

[2019-03-29 17:02] drinckes commented on #235
Thanks - we did think about this and eventually decided that the small rate of movement was acceptable within the likely lifespan of a street address.

We were very careful to scope plus codes as a solution to street addressing. If you want references that are fixed over archaeological time scales, that's going to require a whole other approach - presumably it wouldn't be able to rely on GNSS sign

[2019-03-29 17:02] #235 closed

[2019-03-29 17:04] drinckes commented on #184
Let's close this since we seem to have settled on doing nothing. ;-)

Feel free to reopen if you change your mind!

[2019-03-29 17:04] #184 closed

[2019-03-30 03:30] JonMcPherson commented on #273
This PR ^ resolves this issue

[2019-04-10 00:47] JonMcPherson commented on #273
@drinckes @zongweil Is this project still being maintained?

[2019-04-10 04:11] zongweil commented on #273
Hey, yes, sorry for the delay Jon. I'm going to let @drinckes review this, as it involves changing the spec.

[2019-04-10 07:51] drinckes commented on #273
Yes, my fault. I'm going to send this today to the public mailing list as well as some other interested parties to give them a chance to provide feedback.

Anything we do will require a modification to the spec, even if it's just clarification, so what I propose is that I summarise the questions here, we get some feedback, and then proceed from there to a consensual decision.

## Question: What sh

[2019-04-10 08:49] bocops commented on #273
I think a suggestion could be added to the spec that codes SHOULD NOT be padded and shortened at the same time: what's the use case for "VC0000+ Zurich", if that code describes an area much bigger than Zurich itself (~10% the size of whole Switzerland) and if the code isn't even shorter than the full code "8FVC0000+"?

That said, I don't see any reason for artificially removing the ability to reco

[2019-04-11 04:41] lokkju commented on #144
@drinckes Is there a reason you chose to use WSG84 lat/lon rather than S2 as your projection scheme? S2 has the advantage of not distorting nearly as much as a flat projection.

A couple quibbles with your answer so far:
1) S2 cell id's are not 0-9A-F, but rather bits represented as a long, that are often encoded as 0-9A-F; S2 cell id's could just as easily be encoded with your non-wordlike encodi

[2019-04-11 05:04] lokkju opened #278 "is there a specification for determining the most accurate OLC for a place?"
Addresses are traditionally references to physical places rather than physical locations, and it seems the goal of OLC is to serve as addresses.

Has any work been done on a specification/process/algorithm to determine the correct level of precision for a given place; and, to determine the most accurate/canonical OLC for a place that may be ambiguous - for instance, it relatively equally crosses t

[2019-04-11 05:47] JonMcPherson commented on #273
Yea after giving it more thought, I think that the better option is to **not** restrict and to explicitly allow padded codes (with 2, 4, or 6 digits) to be shortened and recovered.  I'm all for avoiding unnecessary exceptional cases and having one less precondition or thrown exception.
Basically since the resolution of the code can be maintained when shortening and recovering, then a code of any r

[2019-04-11 09:55] drinckes commented on #144
An additional reason that fed into the decision was that the easiest way to obtain a location is using a GNSS device (smartphone). These provide locations in WGS84, so it makes sense to base any algorithm directly off that rather than introduce more layers of conversion.

[2019-04-11 10:39] bocops commented on #278
There are some ideas floating around, but I don't think that any of it has been strictly specified.

One aspect is the precision necessary and useful to properly address a real-world location. Less than 10 digits means that the resulting area is often too big to be useful - 12 or more might easily be more precise than necessary (see also #190). That leaves 10- or 11-digit codes, probably shortened

[2019-04-11 10:49] drinckes commented on #278
You can have a single, canonical and non-ambiguous OLC for a place - but that doesn't mean it's useful. :-(

For example, you could us the 10-digit OLC that contains the center point. Does that make sense for the Boeing factory? Maybe - it all depends on what you're trying to do with it.

An alternative is to say "the largest OLC that fits within the polygon (or bounding box?) that contains the ce

[2019-04-11 15:44] lokkju commented on #278
@bocops cadastre data doesn't normally contain building footprints, at least globally; even in the USA, it's very rare.  It definitely doesn't contain any door/etc points.

The precision question is a bit easier - either from a parcel or (satellite or in person) building footprint, it can be specified as the largest precision that completely fits within the boundaries; or perhaps the smallest prec

[2019-04-16 10:26] canerbasaran opened #279 "Add a new service to Who supports OLC? wiki page"
[nicesi.com](https://nicesi.com) (early 2019) Nicesi Location API support for global codes in [reverse geocoding service](https://nicesi.com/doc/#reverse-geocoding)

[2019-04-16 17:01] zongweil commented on #279
Would you mind making a pull request with the change to the wiki?

[2019-04-16 17:06] canerbasaran commented on #279
I didn't find wiki pages in the repo.

[2019-04-16 17:07] zongweil commented on #279
I think you can update this page directly - https://github.com/google/open-location-code/wiki/Who-supports-OLC%3F

[2019-04-16 17:17] canerbasaran commented on #279
It shouldn't be that hard. https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html

[2019-04-16 17:21] zongweil commented on #279
Can you edit that page I linked directly? I don't think you need to send a PR to update it.

[2019-04-16 17:24] canerbasaran commented on #279
I couldn't. There is no edit button in that page.

[2019-04-16 17:27] zongweil commented on #279
I manually added it. Thanks for supporting plus codes!

[2019-04-16 17:27] #279 closed

[2019-04-18 22:42] WilliamDenniss opened #281 "Travis CI is using the remote version of the Go library during tests"
## Steps to Reproduce

1. Modify the go version to intentionally return invalid plus codes
2. Push

## Expected Results

Travis CI fails.

## Actual Results

Travis CI passes.

## Example

See my [example PR](https://github.com/WilliamDenniss/open-location-code/pull/1) with [intentional bugs](https://github.com/WilliamDenniss/open-location-code/pull/1/files) introduced to the go version.

Travis t

[2019-04-19 04:16] #281 closed

[2019-04-19 16:24] WilliamDenniss commented on #273
In my opinion, the answer is yes to all three, and without restriction (no minimum significant digits requirement).

For the reason that they are **still meaningful**, even if they may not always be considered particularly useful. E.g. `0000+, San Francisco` can be recovered to a valid plus code, so why restrict it unnecessarily? I think in general that the spec should focus on the algorithm (obje

[2019-04-21 09:50] drinckes commented on #273
@WilliamDenniss

If the proposal is that it is acceptable to remove all significant digits from these codes, then is it also acceptable to remove all significant digits from 8FVC9G8F+6W, or the first 10 digits from 8FVC9G8F+6WG?

If yes, then we will need to decide how to represent these currently invalid strings (00000000+00G or just +00G).

If no, then shortening padded codes is introducing a ne

[2019-04-23 16:46] lazarillo commented on #271
@drinckes @zongweil Thanks for your responses! I guess I had trouble imagining that there are places so poor and/or secluded that they do not have addresses, yet so technologically savvy that they would adopt this very novel means of providing a location.  Sounds like I lack imagination.  😏

[2019-04-24 08:46] drinckes opened #288 "Split the encoding and decoding test data"
There should be separate files for encoding and decoding tests.

The current tests merge the two cases meaning that we cannot specify certain tests.

This will allow encoding tests to be specified as lat, lng and length and the desired code.
Decoding tests would specify the code and the desired area (or failure).

Proposed implementation:
1.  Split the existing `encodingTests.csv` file into two, `

[2019-04-24 15:54] drinckes opened #294 "C library could do with a rewrite"
The code isn't very clear, arguments to functions aren't documented.

The function signatures are not very intuitive, I'd be ok if there was a rewrite without backward compatibility.

[2019-04-24 17:30] zongweil commented on #259
Checking in on this again - would having a Kotlin library provide any benefits over the existing Java one?

[2019-04-25 00:39] fiveham commented on #271
@lazarillo Here's another potential use-case for this concept:

Last year a change was made to North Dakota elections laws to require that a voter's address be included on their ID for them to be eligible to vote. [Native Americans living on a reservation were disproportionately impacted by this change](https://www.npr.org/2018/10/13/657125819/many-native-ids-wont-be-accepted-at-north-dakota-polli

[2019-04-25 11:23] bocops commented on #259
@zongweil I haven't used this myself - but Kotlin can apparently be used in a multi-platform context where interoperability with Java code isn't possible or necessary in all instances. This tutorial is about sharing Kotlin code between an Android and an iOS app, for example: https://kotlinlang.org/docs/tutorials/native/mpp-ios-android.html

Translating the Java class itself should be easy to do, a

[2019-04-25 11:43] drinckes commented on #288
Aaaand I think we're done!

[2019-04-25 11:43] #288 closed

[2019-04-25 21:27] WilliamDenniss commented on #190
#300 validates that this has been implemented in all languages (and fixes the last few remaining issues).

[2019-04-25 21:31] zongweil commented on #190
Awesome! Marking this as closed.

[2019-04-25 21:31] #190 closed

[2019-04-25 23:21] WilliamDenniss commented on #248
I think it makes sense to use the existing `geo:` (RFC5870) scheme for this use-case, as that scheme can already indicate a location accurately. In HTML, the link could be geo:, while the text could be a plus code.

I wouldn't say plus codes are *strictly* for reading by humans and use in unstrucuted text, but that is certainly where a lot of the value is added over decimal degrees.

[2019-04-26 16:08] drinckes commented on #248
The problem with using the existing `geo` URI is that it is already defined to be `lat,lng[,altitude]`. Changing the definition wouldn't be trivial - and then you have to change all the things that accept `geo` URIs.

Like you point out @evert , plus codes big advantage is when location is being communicated to, from or between people. URIs by their nature are generated by a computer, and interpre

[2019-04-26 16:33] WilliamDenniss commented on #248
To clarify, when I said "it makes sense to use the existing geo: scheme for this use-case", I meant that I believe the `geo:` scheme, as it is defined today, already solves this use-case (i.e. without needing plus codes).

Agree that an ideal UX would be to open the maps app, and for that app to show the plus code for easy sharing and communication (just like for street addresses, as you say).

Th

[2019-04-27 16:44] drinckes opened #307 "Floating point representation errors may cause incorrect codes"
How floating point numbers are represented in different languages can cause surprising results on common operations. If these occur, we could generate incorrect codes. A few cases have been identified where this happens.

This doesn't seem to occur when the latitude or longitude have four or more decimal places. Browser locations and GPS coordinates return more than this so it doesn't appear to af

[2019-04-28 22:06] zongweil commented on #307
This looks like the same issue that I ran across in the Java implementation (#217). From our internal discussion, we decided that we would live with the slight imprecision so that we would have consistency between all the implementations.

Are you saying now that we should go the other way? Is there a more "correct" code to return in this edge case?

[2019-04-29 08:22] drinckes commented on #307
We thought it was only the Java implementation. It turns out that AFAICT they're all wrong. Since they're not operating how described, I think they should be updated?

[2019-04-29 18:24] zongweil commented on #307
I believe the Java implementation was behaving correctly before I made the change (floating point precision was correctly handled by BigDecimal). Looking back, instead of matching the Java implementation to the others, we should have matched the others to the Java implementation.

I think updating them makes sense if it leads to a more precise code returned. I'll revert the change I made to the Ja

[2019-04-29 20:37] zongweil commented on #307
Oops didn't mean to close this.

[2019-04-29 22:02] zongweil commented on #259
Oh interesting. Writing a Kotlin implementation isn't super high priority for us, but this would make for a  good contributor project.

[2019-04-29 22:07] #255 closed

[2019-04-30 03:23] zongweil opened #311 "Fix floating point precision for C implementation"
See #307 for details. This issue tracks the fix for the C implementation.

[2019-04-30 03:24] zongweil opened #312 "Fix floating point precision for C++ implementation"
See #307 for details. This issue tracks the fix for the C++ implementation.

[2019-04-30 03:25] zongweil opened #313 "Fix floating point precision for Dart implementation"
See #307 for details. This issue tracks the fix for the Dart implementation.

[2019-04-30 03:25] zongweil opened #314 "Fix floating point precision for Closure implementation"
See #307 for details. This issue tracks the fix for the Closure implementation.

[2019-04-30 03:26] zongweil opened #315 "Fix floating point precision for Python implementation"
See #307 for details. This issue tracks the fix for the Python implementation.

[2019-04-30 03:27] zongweil opened #316 "Fix floating point precision for Ruby implementation"
See #307 for details. This issue tracks the fix for the Ruby implementation.

[2019-04-30 03:27] zongweil opened #317 "Fix floating point precision for Rust implementation"
See #307 for details. This issue tracks the fix for the Rust implementation.

[2019-04-30 03:29] zongweil opened #318 "Fix floating point precision for Garmin implementation"
See #307 for details. This issue tracks the fix for the Garmin implementation.

[2019-04-30 03:29] zongweil opened #319 "Fix floating point precision for VBA"
See #307 for details. This issue tracks the fix for the VBA implementation.

[2019-04-30 08:53] drinckes opened #320 "Fix floating point precision for JS implementation"
See #307 for details. This issue tracks the fix for the JavaScript implementation in /js.

[2019-04-30 08:55] drinckes opened #321 "Fix floating point precision for Go implementation"
See #307 for details. This issue tracks the fix for the Go implementation.

[2019-04-30 16:34] WilliamDenniss commented on #273
My approach would be similar to your [comment ](https://github.com/google/open-location-code/issues/196#issuecomment-439019877) on the uneven length codes: "be conservative in what you do, be liberal in what you accept from others", which I would apply in a way that "do" are the codes we generate in the API, and "accept" are codes that are considered valid according to the spec (which is possibly

[2019-05-03 09:38] #321 closed

[2019-05-03 09:46] drinckes opened #324 "Change node JS tests to karma/jasmine"
Existing node JS tests (in `js/test`) use a combination of gulp and phantomjs to run.

phantomjs is now unsupported (and seems to be a pain to get working locally) so it would be good to refactor the tests to use karma/jasmine.

I've had a quick go at this but got stuck trying to get the test functions to access the CSV files. (If we have to we could convert them to JSON as part of the test script

[2019-05-03 13:42] drinckes commented on #324
This is mostly done with #305. But this uses [karma-jasmine-jquery](https://github.com/bessdsv/karma-jasmine-jquery) which hasn't been updated for a long time, and has a lot of issues with pulling in old, obsolete dependencies.

So it would be good if someone with a bit more time and karma/jasmine experience could find a more up-to-date way to access JSON files from within tests.

[2019-05-03 13:43] #320 closed

[2019-05-06 09:37] drinckes opened #327 "Add pylint checks for Python code"
Python got code formatting added in #326 - in addition we should add pylint checking as well to pick up common errors.

We could adopt the pylintrc from the [YAPF](https://github.com/google/yapf) project.

Note: The pylintrc and the YAPF style will need to agree - for example the indentation in YAPF is four spaces and the above pylintrc uses two spaces.

It will need to be added to the travis.yml,

[2019-05-07 14:11] sergey-melnychuk commented on #317
Looking into it.

[2019-05-07 14:23] drinckes commented on #317
Hi @sergey-melnychuk ! Thanks for offering to help!

The fix is to implement a new algorithm for the encode() and decode() methods.

The Go implementation (in this repo) has already been updated, so you can copy from there. Let me know if you have any questions!

[2019-05-07 18:05] drinckes commented on #312
Started!

[2019-05-13 09:32] #316 closed

[2019-05-13 10:46] #314 closed

[2019-05-13 11:14] #313 closed

[2019-05-13 16:34] #317 closed

[2019-05-14 11:03] #312 closed

[2019-05-14 11:32] #315 closed

[2019-05-14 12:00] qgillet opened #339 "js implementation and Internet Explorer"
Because of the use of exponentiation (**) in the js implementation, the js library cannot work in Internet Explorer. IE is the only browser that does not support exponentiation.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Arithmetic_Operators#Browser_compatibility

[2019-05-14 18:32] zongweil commented on #339
Thanks for the heads up! @drinckes we might have to use something like Math.pow instead.

[2019-05-15 17:48] zongweil commented on #339
@drinckes fixed this, thanks again for bringing this to our attention @qgillet!

[2019-05-15 17:48] #339 closed

[2019-05-15 18:29] qgillet commented on #339
Thank you for your swift fix! I confirm that the js library is now OK in Internet Explorer 11.
(I tested the encode function).

[2019-05-16 07:42] drinckes commented on #339
Awesome! Thanks for the issue report!

[2019-05-20 19:53] tkafka opened #343 "Google maps and 'Find your code' tool create short codes which aren't decodable offline"
I am developing a weather forecasting smartwatch watchface, and I'd love to be able to give my users a way to enter the location manually. I thought of plus codes, thinking that with a support of Google, I could easily direct people on obtaining a code for their desired location.

However, I found out that even though `Codes should be able to be generated and decoded offline.` is one of reasons Op

[2019-05-20 20:22] zongweil commented on #343
Hey @tkafka,

Full plus codes (e.g. 87G7MXQ4+M5) are fully decodable offline. You can already find the full code in the sidepanel [here](https://plus.codes/87G7MXQ4+M5), although Maps does not currently display the full code.

[2019-05-20 20:40] tkafka commented on #343
Hi @zongweil, thanks, I know, but this issue is about the fact that neither Google Maps, or open-location-code own tool doesn't generate the full plus codes. Currently there is no easily linkable way to a tool which would generate them, and currently generated short codes are undecodable without a planetary place database. I consider this a breach of a promised purpose of these codes.

[2019-05-20 20:43] zongweil commented on #343
Did you click my link above? The plus.codes map has the full code in the sidebar.

![HBtGGvkD4r1](https://user-images.githubusercontent.com/1677201/58050806-340f9480-7b05-11e9-9125-3dec0eea971d.png)

[2019-05-21 11:21] bocops commented on #343
I'm not sure how feasible an offline database like this would really be, but it would be interesting to discuss this in more detail. Some thoughts and back-of-the-envelope calculations:

1. We most often want to replace the "area code" (first four characters of a full code) with a city or location name, but not all locations within one four-digit code area will sensibly use the same city name.

2.

[2019-05-24 10:44] drinckes opened #345 "Fix floating point precision for Java implementation"
See #307 for details. This issue tracks the fix for the Java implementation.

[2019-05-24 11:10] #311 closed

[2019-05-27 13:55] #345 closed

[2019-05-30 20:48] zongweil commented on #343
@tkafka did this answer your question?

[2019-05-30 22:22] tkafka commented on #343
@zongweil Thanks for the link to map - it is unfortunately a bit difficult to describe to users how exactly should they get a full code without them accidentally getting a shortcode. It would help if a map could be toggled to a 'full code' mode, eg. with url parameter.

[2019-05-30 22:39] tkafka commented on #343
@bocops Thank you for the estimation - when I wrote this, my assumption was that you don't need to pick the closest city to the location, that just any location inside the four letter area code will do. And I imagine it could be the one with eg. the highest population at the time, to make it deterministic. So we'd have a dictionary of `area code -> name of largest place in the area`, and that woul

[2019-05-31 08:44] bocops commented on #343
@tkafka Your estimate for the number of 4-digit codes isn't too far off. There are 9 and 18 characters used for the first two positions, respectively, and the full range of 20 characters for all subsequent positions. That leads to 9 x 18 x 20 x 20 = 64,800 code areas.

However, one big problem I still see with the approach to just pick the biggest city in each area would be one with a lack of alig

[2019-05-31 22:23] zongweil commented on #343
@tkafka I understand your concern about educating users who aren't familiar with plus codes. How will users obtain the plus code to put into your smartwatch app? Are you planning to link to a map within the app? Or will they get it from another source (e.g. their phone) and then manually plug it in?

@drinckes do you think it might make sense to expose the full code in Maps for the offline use cas

[2019-06-01 12:55] barryhunter commented on #343
I did post about this on the mailing list a while ago
https://groups.google.com/forum/?#!searchin/open-location-code/offline%7Csort:date/open-location-code/zvxkqlocZUA/8dCAho8-BgAJ

Agree it seems strange to talk about one of the drivers for OpenLocationCodes was be fully functional offline, but then its highly encouraged to create codes that don't work without access to a gazetteer*. Worse the sp

[2019-06-03 09:17] bocops commented on #343
To be fair, short codes **do** work in offline contexts if the location of the reference point can be assumed to be shared knowledge between all parties involved. This is not necessarily the same requirement as a world-wide gazetteer. For example, one use case of plus codes "in the wild" is enabling postal services to reach people without a proper street address.

If I use an address like _CFGH+23

[2019-06-03 09:38] barryhunter commented on #343
Thats a good point! Taking the example further, the delivery driver wanting to input destination into a navigation device, could enter the short code, and the device use the current 'GPS' location in hte 'Recover Nearest' process. no gazetteer involved.
The decoding of the 'city' name etc, has come via the mail system **instead**, getting the postcard first to the right local depot.

[2019-06-03 19:21] chancegold commented on #343
Related to this discussion.. Does anyone know if it's accidental or intentional that Maps has been straight up dropping the first 4 characters and using just the xxxx+xx bit?

My use case is full codes for precise location printed as barcodes in order to quickly navigate to a list of locations. OLC codes are _fantastic_ for this as they are as accurate as Lat,Long while being ~half the barcode len

[2019-06-03 19:37] bocops commented on #343
@chancegold I believe this was an intentional change, probably coinciding with the change in terminology from "Open Location Code" to "plus code" and subsequent usage in Google Maps. The first four characters are now considered to be an "area code" that can _optionally_ be used instead of a town or city name, instead of the other way around: https://plus.codes/individuals (bottom of the page).

Th

[2019-06-03 20:25] chancegold commented on #343
So... wouldn't that mean that it is unintentional?

If I enter the full code "8FW4V86P+C8", either as an initial destination or an added stop, it should perform the lookup on the full code before/without any area code lookup, no? Preferably, without, since it's not needed and doesn't make much sense to perform an area code look up/conversion just to show the location in the format "V86P+C8, Paris"

[2019-06-03 21:51] bocops commented on #343
I think part of the problem might be that Google Maps, although it accepts full plus codes as input, isn't first and foremost a tool for offline navigation.

As an end user, I probably want the result of a search within Google Maps to be as helpful as possible - and when I paste a full plus code into search while my phone is online, a result basically stating that "this cryptic code refers to a lo

[2019-06-04 09:27] drinckes commented on #343
As Andreas says - if you search for a full code, Google Maps will decode it
and uses that position. If it can, Google Maps will then convert that code
into a plus code address (short code with place name) for display.

We do this because street maps for cities that don't have street names all
look pretty similar, and so it's useful to get confirmation that you're
looking at Conakry, Guinea vs Lago

[2019-06-04 13:17] malleo commented on #343
Wouldn't it be useful to modify the google maps app as well as the maps web application in a way that they show always the shortend and the full plus code as well as the lat/lon pair? This would give the choice to the user which information he wants to use in his/her use case.
Just a suggestion.

[2019-06-05 19:34] petjal opened #352 "short codes for larger areas?"
Low priority.

![image](https://user-images.githubusercontent.com/3526136/58984289-b1decb80-87a6-11e9-8f56-d15bf035bd01.png)

I'm new, probably missing something, but maybe it would be nice to be able to link to or describe the greater Boston area with something like?:
https://plus.codes/87JC+
Or the North Shore with like
https://plus.codes/87JF+

See: https://github.com/google/open-location-code/

[2019-06-05 20:21] zongweil commented on #352
@drinckes WDYT about the ability for the libraries to parse codes with <8 digits? I believe they will fail the isValid check right now if they don't have the "+" separator.

[2019-06-05 21:25] bocops commented on #352
@petjal This is possible, but there need to be eight characters in front of the plus sign. For a bigger area you can use zeroes to fill up: https://plus.codes/87JC0000+

[2019-06-06 00:12] petjal commented on #352
**Exactly** what I was looking for!  Thanks!

[2019-06-06 00:12] #352 closed

[2019-06-06 00:16] petjal commented on #352
![image](https://user-images.githubusercontent.com/3526136/58998460-d353ad80-87ce-11e9-8215-00e06327a621.png)
Nice!

[2019-06-07 18:05] Ralfhin commented on #343
MXQ4+M5  code

[2019-06-07 18:06] Ralfhin commented on #343
87G7MXQ4+M5

[2019-06-12 08:22] drinckes commented on #343
Currently rolling out to desktop Google Maps (may even already be active) is a change so that when you search for a plus code, the global code is put into the URL.

If you search for "9G8F+6W Zürich", the URL will start with `https://www.google.com/maps/place/8FVC9G8F%2B6W/...`.

[2019-06-19 17:02] MarcusTheSmith commented on #137
Has this been worked at all?

[2019-06-19 17:48] zongweil commented on #137
No, haven't gotten around to it. I'll try to take a look in the next couple weeks.

[2019-07-02 01:58] shuklavk commented on #294
Does this still require assistance? Just asking because it seems like a lot of changes occurred to the c library after (May 21st) this issue was opened.

[2019-07-09 14:28] Monica6128 opened #354 "Incorrect City Causing Mail Reroute"
2 Buena Vista Terrace, Central Valley, NY 10917
8VCF+77 Woodbury, NY

The plus code is pointing to the wrong city name, which is causing applications that use this coding to reroute mail to an entirely different part of the state.

[2019-07-15 00:28] #214 closed

[2019-07-15 09:55] drinckes commented on #294
Hi @shuklavk, My comment was born out of a bit of frustration :-) I think the C code isn't all that easy to follow (the `analyse()` method for example).

Also the `maxlen` argument on most of the functions seems pretty superfluous?

If you wanted to take a look at it, that'd be cool!

[2019-07-15 10:21] drinckes commented on #354
Hi @Monica6128
Google Maps tries to use place names that are a bit larger than central valley, since they may not be well known in all of the world. That said, if you are telling someone your address, you could say 8VCF+77 Central Valley, NY and that should also work.

Are you using this for regular USPS mail?

[2019-07-17 23:53] virtadpt commented on #137
Please do.  I just ran into this as a showstopper.

[2019-07-20 21:50] zongweil commented on #137
The python library is available on PyPi now: https://pypi.org/project/openlocationcode/

Please give it a try and let me know if you run into any issues.

[2019-07-21 22:51] virtadpt commented on #137
Local test passed.
Built, tested locally, and deployed.
It has to be referenced this way: `from openlocationcode import openlocationcode`

[2019-07-23 03:44] zongweil commented on #137
Thanks @virtadpt, changing the import fixed the test in #356. Closing this issue since the library is published and confirmed working!

[2019-07-23 03:44] #137 closed

[2019-07-24 19:21] Erudition commented on #248
But many URI types, while meant for machines to interpret in the end, are specifically designed to be nice to transfer human-human if possible. Otherwise we could all just use IP addresses to navigate to websites - if we'd only ever get a URL from a computer, which we could then just click on! Instead, we have a global address (like google.com) that you can easily tell to someone over the phone, o

[2019-07-25 09:43] bocops commented on #248
I think we need to be precise about the various use cases we're talking about here.

One use case is that I want to let someone know about a location in a mostly **non-digital** context. Perhaps I'm contacting you over phone and want to tell you where we can meet in half an hour: "I'm sitting in the park at CFGH+23, from there it's only a five minute walk to a great cafe!". Perhaps I'm writing a l

[2019-07-27 03:57] alm2caribou opened #357 "ToMorrow's development"
ToMorrow's open location code

[2019-08-11 21:33] Erudition commented on #248
No, because this issue is about URIs, and you wouldn't use a URI for non-digital communication. You'd never say to someone in person "my email address is mailto:me@domain.com", and that's not what it's for.

- This absolutely hints at the meaning of the string that follows, for those that are familiar with plus codes. This is one of the reasons for "+" being in plus codes.
- Being self-explanatory

[2019-08-12 07:53] bocops commented on #248
@Erudition I was talking about use cases of plus codes, not use cases of a URI scheme for plus codes.

The fact is that plus codes are deliberately designed for contexts that don't involve computers at most (if not all) steps. Whenever a plus code is written down on an envelope for another human to read, or spelled out over the phone for another human to transcribe, adding a URI prefix is unnecess

[2019-08-20 18:24] X-Ryl669 opened #358 "Why not words ?"
I don't know if you know [what3words](https://what3words.com/).
They use 3 words to describe any place in the world (like OLC with 10 digits).

I think such system is easier for people to use (since there is some kind of natural error correction going on: word have semantic, a succession of digits and letters does not)

Would it be hard to merge or extend to such system ?
Would anyone be intereste

[2019-08-20 18:35] zongweil commented on #358
Thanks for the question! Check out our [wiki page](https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems#an-evaluation-of-location-encoding-systems), which goes into our design philosophy and comparisons with different systems. We specifically mentioned what3words in the Web-based services section.

One issue to consider with words is localization. Not all count

[2019-08-20 19:58] X-Ryl669 commented on #358
I don't understand why words are bad in your requirements. I think that localizing the location's words is good (as long as their is no ambiguity on the translation, for example: avoid "fly").
The mapping `word` => `some 3 character code` could be done in the frontend (although, with only three words each match 3 chars, you can't make a 10 char code).

It seems much easier for a French citizen to

[2019-08-20 20:17] zongweil commented on #358
Using words (with translated equivalents) doesn't match these desired attributes from that wiki page:

- To prevent confusion, a place should have only one code
- It should be possible to look at two codes and tell if they are close together and even the direction. This will help people find their way and make the codes more usable;
- Shortening a code should represent a larger area that contains

[2019-08-20 20:54] eddydas opened #359 "GCJ-02 coordinates"
Do you have plans to adapt/augment the system to handle cases where WSG-84 is not permitted in the local jurisdiction, such as China (which uses GCJ-02 coordinates)?

Reference: https://en.wikipedia.org/wiki/Restrictions_on_geographic_data_in_China#Coordinate_systems

[2019-08-20 20:56] X-Ryl669 commented on #358
Yet, "pain épice poire" is close to "pain épice citron" (because the first 3 letters are mapped to "pain" and the next 3 letters are mapped to "épice").
You actually need to do a look up with a code to figure out the latitude and longitude, there's no additional workload to use words here for the end user (unless you can convert OLC letters to floating point's digits in your head, but I'd say it's

[2019-08-20 21:16] WilliamDenniss commented on #358
This project doesn't use a word dictionary lookup, and the wiki discusses several advantages of the system it does use. As you point out, alternatives exist should you wish to use them instead.

At this point, the [specification](https://github.com/google/open-location-code/blob/master/docs/specification.md) of the Plus Code encoding system has already been finalized.

[2019-08-20 22:22] zongweil commented on #358
"pain épice poire" and "pain épice citron" aren't necessarily close (you wouldn't know without a lookup). With only 3 words to represent resolution precision, "pain épice X" and "pain épice Y" could be in completely different countries. Is "pain épice X" closer to "pain épice Y" or "pain épice Z"? Again, you can't know without a lookup.

I can tell you that 87G7MXQ4+M5 and 87G7MXQ4+M6 are really c

[2019-08-20 23:05] #357 closed

[2019-08-21 09:39] drinckes commented on #359
No, no plans.

As long as the input values are between -90 to 90 and -180 to 180, then you could use any coordinate system - as long as it is agreed between whoever is encoding the location and whoever is decoding the location.

But our recommendation is that a plus code should be based on WGS-84, since it is vastly more likely that any system you use a plus code with is going to assume the decode

[2019-08-21 09:39] #359 closed

[2019-08-21 15:37] sunk818 commented on #148
Related discussion: https://github.com/google/open-location-code/issues/25

[2019-08-21 21:29] brewmanz opened #360 "Calling C# OpenLocationCode.Encode with length 2 fails 'Illegal code length 2'"
Calling C# OpenLocationCode.Encode with length 2 fails with 'System.ArgumentException: Illegal code length 2.'.
I am using NuGet package OpenLocationCode by Jon McPherson, v2.1.0
This is for both GeoPoint and lat/long.
A length of 2 is valid (https://github.com/google/open-location-code/blob/master/docs/specification.md), giving a 'box' 20 degrees across.
My test code is
[code]
(I don't like your

[2019-08-22 09:13] drinckes commented on #360
NB: I edited your comment to improve the code formatting.

[2019-08-22 09:14] drinckes commented on #360
We don't maintain the C# code in this repository, could you please open an issue [here](https://github.com/JonMcPherson/open-location-code/issues)?

[2019-08-22 09:14] #360 closed

[2019-08-22 09:52] brewmanz commented on #360
re-raised as requested at [https://github.com/JonMcPherson/open-location-code/issues/10]

[2019-08-23 07:15] Erudition commented on #248
Okay. Well I was talking about the use cases for a URI scheme for plus codes, because that is what this issue is about.

Well, they're deliberately designed to be _compatible_ with situations that don't involve computers, yes. Theoretically, you are able to whip out a specially printed map to choose plus codes for locations and to resolve codes from others. No tech required, let alone internet. Th

[2019-08-23 08:48] drinckes commented on #248
Creating a new URI is a lengthy process, and creating it doesn't mean that it will do anything (e.g. to date, neither Chrome nor Firefox desktop browsers handle the geo: URL).

I can't think of a use case for a plus code URI that is not already covered with the geo: URI. If you have an example use case, feel free to explain it, but unless it's overwhelming (or someone feels strongly enough about i

[2019-08-23 08:52] bocops commented on #248
No. What I _want_ to discourage, though, is any use of plus codes just for the sake of it. The plus code format is basically just a wrapper around another format that is readily understood by our technology, so it doesn't make sense to use plus codes there unless there's some _other_ problem that gets solved by doing so. This other problem could be "easy human communication", but probably not "mac

[2019-08-24 05:11] Erudition commented on #248
I'm not sure what that means, other than "in general". If you want to encode location, you're gonna pick a format. So it just sounds like we disagree on whether plus codes should be used outside of cases where they're the only way:

Why doesn't it? Again, maybe it's because I see plus codes as more or less a replacement for geo coordinates; an answer to its deficiencies, such as being hard to pars

[2019-09-01 11:29] Keonglee88 commented on #327
im here

[2019-09-03 17:35] JonMcPherson commented on #360
https://github.com/JonMcPherson/open-location-code/pull/11#issuecomment-524653039

We should probably also create an Issue/PR to the canonical repository to fix the Java implementation and add these test cases.
See [open-location-code/java/~/OpenLocationCode.java#L191](https://github.com/google/open-location-code/blob/master/java/src/main/java/com/google/openlocationcode/OpenLocationCode.java#L191

[2019-09-12 02:55] krisRam432 opened #363 "https://drive.google.com/file/d/0B__A3WelbVrsM1piSjZwd000anZ5bWFheVpjMmFSbEFHTHhz/view?usp=drivesdk"
Alex Flores

[2019-09-23 17:40] torfason commented on #343
This new feature that @drinckes refers to is appreciated, but it does not really address the core problem, which goes well beyond offline decoding.

The proponents of plus-codes (OLC), with support from Google, claim to be developing an open and free location standard. This is laudable, and I root for a future in which this has materialized.

But at the same time, Google, the dominant mapping appl

[2019-09-23 20:43] rsramek commented on #343
Dear Magnus,

Allow me to make a few points.

The decision to include the locality in the plus code address is a conscious one. Plus codes as a project have many goals from voting to emergency response, but the one with the largest unrealized impact is a goal of allowing for effective bootstrapping of postal delivery and logistics in less developed parts of the world, in particular most of sub-Sah

[2019-09-24 15:00] torfason commented on #343
Dear Rasťo,

Thanks for your quick and thoughtful response. It is clear that you have a compelling vision for how OLC can be used. I do think and hope that this vision can be achieved while at the same time allaying the concerns that I voiced and others had voiced before on this thread. You answered a number of questions, and I'd like to follow up on some specific points:

Agreed, this is a compel

[2019-09-30 17:02] torfason commented on #363
What is this issue, is it a malware link? I'd rather not open the file that is referenced in the title. Unless there is something here that I'm totally misunderstanding it seems like this should be closed ...

[2019-09-30 17:47] #363 closed

[2019-10-18 06:41] RiverMersey opened #364 "new ms access VBA script > help wanted"
Could someone verify my attempt at generating pluscodes in msaccess, please?

Seems to work for the first most significant 10 pluscode characters but, tbh, I couldn't understand the verbal description of the process for the least significant part.

My code runs very quickly, a uk database table of about 1.77m records can be processed in about 90 seconds. (Although, I did cheat a little as I wrote

[2019-10-18 06:54] RiverMersey commented on #358
W3W are trying to be proprietary - they wont release the word-list nor the algorithm. Pluscodes have done both!

[2019-11-17 15:52] apatrida commented on #343
@rsramek

But you are omitting the idea that you could send it to "796RWFCM+74 Praia, Cape Verde" from Switzerland and then the extra location information is informative but not required to decode the value.

The shortcodes are undermining this standard due to what @torfason mentions:

The easiest way to get pluscodes **all** generate and show shortcodes by default, and even copy shortcodes to the

[2019-11-17 20:59] apatrida commented on #259
see #366

[2019-11-21 19:21] preetjdp opened #367 "Publish to Pub [Dart]"
The Flutter / Dart plugin seems to be implemented, could you publish someone for the google team publish it to https://pub.dev

[2019-11-30 14:00] oscarfuquen opened #368 "Wrong suburb"
The suburb is Burpengary East not Morayfield. https://plus.codes/5R4JVXHP+GH

[2019-12-17 07:07] SWalkerTTU opened #369 "Python needs to be ported to Python 3"
As is, the Python module does not work in Python 3.7, and Python 2 will be officially deprecated in two weeks (1st January 2020). I have tried a number of things to get it to work, but to no avail.

[2019-12-23 21:07] n1vux opened #371 "Wiki evaluation - MLS"
In the Evaluation doc in wiki, it incorrectly says Maidenhead (mls) can form words. Since MLS alternates pairs of letters and pairs numerals, it could only form EL33tt haxor words, and at least for the experienced user, or with a syntax checking interface, no letter/number ambiguity.

(MLS does have seams between fields and between squares so that adjacent places may be disimilar, but even OLC has

[2019-12-23 21:17] RiverMersey commented on #371
MLS - are we referring to: https://en.m.wikipedia.org/wiki/Multiple_listing_service as proprietary used by USA realty groups?

[2019-12-23 21:34] n1vux commented on #371
No, the MLS footnote and abbreviation on evaluation wiki page is the Maidenhead Locator System, an open standard.

 https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems#maidenhead-locator-system-mls

[2019-12-23 22:12] RiverMersey commented on #371
Yes, I've just read that reference stating that MLS (Maidenhead Locator System) can form words. Effectively, QRA / QTH / MLS / OLC / PlusCodes are the sequential evolution of the same system.

MLS & OLC (pluscodes) are effectively the same but take their starting datum point from different places and their notation is different from each other. Pluscodes - in my opinion - are the best option so fa

[2019-12-24 05:32] n1vux commented on #371
My request is to remove the alleged disadvantage of "forming words" from the section on Maidenhead/MLS. AFAIK it is unsubstantiated and wrong.

Please note, I am **not** evangelizing for MLS/QTH; I was evaluating adding pluscode/OLC support to systems I use with MLS/QTH and LAT-LON, and noticed the minor factual error above in the evaluation page wrto MLS/QTH.

Maidenhead (MLS/QTH) in modern usage

[2019-12-24 06:07] RiverMersey commented on #371
Many thanks for your reply. Regarding the incorrect ascertaination on Wikipedia about MLS codes forming words, perhaps edits to that could be submitted to Wikipedia as it isn't possible to change anything there via this discussion here.

My own investigations into plus codes lead me to writing the msaccess VBA script at: https://github.com/google/open-location-code/issues/364 . As I mentioned in t

[2019-12-26 16:22] StephenBrown2 commented on #371
The doc being referenced is not Wikipedia, it's the wiki associated with this repo: https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems#maidenhead-locator-system-mls which can only be edited by those with permissions on this repo.

[2019-12-26 23:14] n1vux commented on #371
Yes indeed, I am reporting an error on this Repo's attached github wiki.

I cited that section's `#mls` footnote's reference to a correct Wikipedia article in support of my assertion that the OLC github wiki statement that Maidenhead/QTH locators can form words was in general false, as words do not have numerals, which are always included in any MLS/QTH posit longer than 2 char.  (The largest bloc

[2019-12-27 18:11] zongweil commented on #371
Hey @n1vux, thanks for bringing this up. I understand the point that you're making.

It looks like the line in question is "The accuracy and length of the codes is similar, but Maidenhead Locator System codes include vowels and so the generated codes include words [mls]."

@drinckes: Did you mean that MLS could inadvertently form words with numerals that looked like letters? Should we rephrase thi

[2019-12-27 18:36] zongweil commented on #369
Hey @SWalkerTTU, our Python library already runs properly on Python 3.6 ([tested continuously](https://travis-ci.org/google/open-location-code/jobs/627951455?utm_medium=notification&utm_source=github_status)).

Do you have more details on what isn't working in Python 3.7? Could it be a configuration issue?

[2019-12-27 21:18] n1vux commented on #371
Thank you @zongweil .

While `fe11ow` could be misread, if reading quickly or in an unfortunate choice of font, if one follows the recommended MH/QTH/MLS convention of UPPER CASE for Field letters and lower case for subsquare letters (and perhaps pick a suitable font?), the danger of seeing words in e.g.  `FE11ow` `RA99ed` `PO57al` is rather reduced. While possible for comedic purposes,† it's not

[2020-01-06 09:16] drinckes commented on #371
Thanks @n1vux - I suggest changing the section:

to

Would that be ok?

[2020-01-07 05:50] zongweil opened #373 "Optimize normalizeLongitude method"
Currently, our normalizeLongitude() methods use a while loop to get the longitude into an acceptable range. However, this can take a long time if the integrating application passes in a really large value for the longitude. We can resolve this while maintaining the same behavior by computing the normalized longitude in a single step. Something like:

[code]

This is the master issue for tracking t

[2020-01-12 05:44] SWalkerTTU commented on #369
I've narrowed it down a bit more. The code in the Git repository passes its test on 3.8, but importing the pip package in 3.8 isn't working; the methods don't show up with openlocationcode.__dict__ on 3.8, but do on 2.7.

[2020-01-12 21:43] ppKrauss opened #375 "Please review fragment that seems false assertion at Wiki"
Hi, seems a **false assertion** [at this wiki article](https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems#geohash) ([since 2018 or before](https://web.archive.org/web/20180213140209/https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems)),

Use [reliable Geohash software](https://mmcloughlin.com/posts/geohash-assembly) or re

[2020-01-14 18:33] kpym opened #376 "Go : why second normalization ?"
In [encode.go](https://github.com/google/open-location-code/blob/a6eb95b4d2f934e94dae4f092260caf7f3db7967/go/encode.go) it looks like the longitude is normalized twice :
- on [lines 56](https://github.com/google/open-location-code/blob/a6eb95b4d2f934e94dae4f092260caf7f3db7967/go/encode.go#L56)
- and on [lines 63-65](https://github.com/google/open-location-code/blob/a6eb95b4d2f934e94dae4f092260caf7

[2020-01-14 18:45] kpym commented on #373
You don't need different cases, you can usually use something like `mod(longitude + 180, 360) - 180`. This code, like yours, has two drawbacks:
- the code will be quite different between different languages,
- this code is slower if the `longitude` is not very far from being normalized, which is, I think, the most used case.

[2020-01-15 04:51] zongweil commented on #376
Thanks for bringing this up @kpym. You're right that the second normalization check is unnecessary, since lng will never equal lngMax after the first normalizeLongitude() call.

Feel free to send a PR if you'd like :). Otherwise, I can fix it later.

[2020-01-17 03:11] n1vux commented on #371
Yes, thank you @drinckes , that's fine.

[2020-02-06 12:31] socketbox commented on #369
@zongweil I was unable to resolve functions defined in `openlocationcode` after installing via pip and importing it in the standard way using `import openlocationcode` or `from openlocationcode import *`. Instead, I had to either...

-  use `from openlocationcode.openlocationcode import *` which seems less-than-idiomatic, or...
-  edit the `__init__.py` file of the package and change `from openloc

[2020-03-03 23:49] magneticimpulse opened #377 "Wrong Suburb"
Wrong suburb, it is not Northside in the address. Need to be removed from all Suburbs in Dublin, Ireland and addresses.

[2020-03-03 23:51] magneticimpulse opened #378 "Wrong Suburb"
Northside needs to be removed from the address in 9MRX+JJ as the address is in Finglas East, Dublin 11

[2020-03-03 23:52] magneticimpulse opened #379 "Wrong suburb"
Ballygall is not the correct suburb in 9PQ5+CR Dublin, it should be Finglas East, Dublin 11

[2020-03-03 23:56] magneticimpulse opened #380 "Wrong suburb"
Ballygal is not the area in 9PP4+V5 Dublin, it should be instead "Finglas East, Dublin 11".

[2020-03-03 23:58] magneticimpulse opened #381 "Wrong Surburb"
Ballygall should not be in the address for 9PR3+25 Finglas East, Ballygall, Dublin. The address is "Finglas East, Dublin 11".

[2020-03-04 00:05] magneticimpulse opened #382 "Wrong suburb"
Northside should not be in the address for 9PQ2+PX Dublin, County Dublin, Ireland. It should be "Finglas Village, Dublin 11, Ireland". In fact "Northside" and "Ballygall" should be removed from all of the addresses in Dublin suburbs.

[2020-03-04 00:25] magneticimpulse opened #383 "Wrong suburb"
9C5M9MRX+JJ should not have "Northside" in the address - none of this area is the Northside as it is not a suburb or Townland in any of Dublin. The address on the North Road suburb is "Finglas East, Dublin 11".

[2020-03-04 00:31] magneticimpulse opened #384 "Wrong area and bus stop name"
9C5M9PP3+M8 "Glasnevin" and "Northside" should not be in the address. This suburb is "Finglas East". Also the bus stop is mixed up in this plus code.

[2020-03-04 00:35] magneticimpulse opened #385 "Wrong suburb name and bus top area"
9C5M9PQ2+9PPlus. Overall 9C5M should have "Northside" removed from all of the Townlands/suburbs in Dublin. In this plus code, "Glasnevin" should also be removed. The suburb or townland address is "Finglas Village, Dublin 11".

[2020-03-04 06:54] drinckes commented on #377
Hi @magneticimpulse - these issues are for problems with the open source code.

If you are providing feedback for a plus code address on a specific mapping app, please use their feedback mechanism (e.g. if it's an issue on Google Maps, use Menu then Help&Feedback). If you do, it would be helpful if you could include the full plus code and a screenshot.

I'm going to close the other issues, but I'l

[2020-03-04 06:54] #377 closed

[2020-03-04 06:56] drinckes commented on #378
I can't reproduce this on Google Maps, please raise an issue with the map app or site directly.

(Searching for "9MRX+JJ Northside, Dublin" displays "9MRX+JJ Dublin" in the card.)

[2020-03-04 06:56] #378 closed

[2020-03-04 06:57] drinckes commented on #379
I can't reproduce this on Google Maps, please raise an issue with the map app or site directly.

(Searching for "9PQ5+CR Ballygall, Dublin" displays "9PQ5+CR Dublin" in the card.)

[2020-03-04 06:57] #379 closed

[2020-03-04 06:59] drinckes commented on #380
I can't reproduce this on Google Maps, please raise an issue with the map app or site directly.

[2020-03-04 06:59] #380 closed

[2020-03-04 07:08] drinckes commented on #381
This one I think I've tracked down - it's not when you search for the plus code, but it is what is displayed on some businesses in Google Maps. I'll forward it on to the team responsible for formatting addresses.

[2020-03-04 07:08] #381 closed

[2020-03-04 07:09] drinckes commented on #382
I'll close as a duplicate of #381 .

[2020-03-04 07:09] #382 closed

[2020-03-04 07:09] drinckes commented on #383
Closing as duplicate of #381.

[2020-03-04 07:09] #383 closed

[2020-03-04 07:11] drinckes commented on #384
Address formatting is a duplicate of #381.

Plus codes are areas, not points, and the bus stop is within the plus code area.

[2020-03-04 07:11] #384 closed

[2020-03-04 07:12] drinckes commented on #385
Duplicate of #381.

[2020-03-04 07:12] #385 closed

[2020-03-05 02:50] TexasMongoloid opened #386 "I'll tar and feather someone if the Parish system ever comes to Texas!"
There is not a single Parish style of government outside of Louisiana. Port Arthur has quite a few problems, but being governed by a Parish is not 1 of them.

W2R4+PP Port Arthur, Parish Governing Authority District 1, TX

[2020-03-05 20:18] magneticimpulse commented on #377
hi i am not computer oriented. i dont know where the original source for the plus code comes from but it is incorrect. multiple times over 2 years i have contacted google maps to change it and they did not. i noticed a plus code attached with the incorrect address. plus code told me to come here to get it fixed. im not a computer person...i dont know how to rewrite the code. nobody will fix the su

[2020-03-05 20:19] magneticimpulse commented on #384
hi i am not computer oriented. i dont know where the original source for the plus code comes from but it is incorrect. multiple times over 2 years i have contacted google maps to change it and they did not. i noticed a plus code attached with the incorrect address. plus code told me to come here to get it fixed. im not a computer person...i dont know how to rewrite the code. nobody will fix the su

[2020-03-05 20:30] bocops commented on #377
@magneticimpulse If I understand you correctly, you are saying that, in a plus code like **8PXF+93 Dublin 7, Northside, Dublin, Ireland**, the part "Northside" is not correct and needs to be dropped completely - no replacement necessary?

@drinckes If that is the case, this seems to be an issue with the way short codes are generated, rather than with Maps in general. I'm looking at a Google Maps P

[2020-03-06 17:18] magneticimpulse commented on #377
Yes exactly. some places in Dublin have the word "Northside" instead of their proper Townland/suburb name which is incorrect. how do i get it fix? i know nothing about computers or how these plus codes are generated or who to contact to fix the code/address. do you know who or when i can apply to get it fixed?

[2020-03-07 16:28] bocops commented on #377
@magneticimpulse I suggest that you explain this in a post on this forum: https://groups.google.com/forum/#!forum/open-location-code

[2020-03-07 16:57] magneticimpulse commented on #377
the name Northside doesnt just need to be dropped. the correct suburbs need to be placed. ive contacted google maps to change the address and they must be simple people working at goolge because its not fixed. i dont see how a forum can help me because anything they suggest is not going to automatically fix the address. where are the codes stored??? why will nobody fix it for me?? surely this is w

[2020-03-09 09:34] drinckes commented on #377
I'll pass this on to the right team (I work for Google).

[2020-03-10 22:09] alextechtai opened #387 "Less Accurate Location Code"
Is there a way to broaden/obscure a given location?

[2020-03-10 22:33] zongweil commented on #387
Codes with fewer digits represent a larger area. For example, [87G7MXQ4+M5](https://plus.codes/87G7MXQ4+M5) is the full code for the Statue of Liberty in New York. Shortening it to 87G7MXQ4 will represent a large rectangle that is centered at the same point (doesn't look like the plus.codes UI will let you do this directly though).

What's your use case? If you want to obscure the location a bit,

[2020-03-10 22:36] bocops commented on #387
To add to what @zongweil said, shortening is possible even beyond eight digits, by replacing pairs of digits with '0':
87G7MX00+
87G70000+
87000000+

[2020-03-16 21:24] magneticimpulse commented on #377
thanks i tried to add a comment to the post but dont know how i do from a mobile phone. Many of the plus codes still need to be updated.
Some have the correct suburb now added (others still need the suburb added). the following plus code needs Northside to be removed and County Needs to he removed. the plus code should say "Finglas, Dublin 11" and not the following for 9PQ2+W6 Finglas, Northside,

[2020-03-17 17:20] alextechtai commented on #387
Hey, my use case is I want to be able to get user location and obscure it before encrypting it and storing it onto a database

[2020-03-17 17:20] alextechtai commented on #387
@zongweil Hey, my use case is I want to be able to get user location and obscure it before encrypting it and storing it onto a database

[2020-03-17 17:21] alextechtai commented on #387
@bocops That's really helpful! Do they have documentation for doing so?

[2020-03-17 18:18] bocops commented on #387
@alextechtai This is mentioned as "padding" in
- [https://github.com/google/open-location-code/blob/master/docs/olc_definition.adoc](url) and
- [https://github.com/google/open-location-code/blob/master/docs/specification.md](url)

[2020-03-30 06:57] magneticimpulse commented on #377
Any update on this? I checked Google maps and the edits to my address which i requested to be corrected and it still comes up as pending review. The area of Finglas is still coming up as "Northside" and my busstop in Finglas village is still coming up as "Glasnevin". ive requested the corrections to be made. this is very poor given that google maps Headquarters is in Dublin and the addresses and s

[2020-05-01 19:24] davvit opened #389 "Full resolution of location code"
Hello,

I am using the OpenLocationCode.encode( ) method to get LocationCode from lat/lon.

As you can see its only giving me resolution of 2 after the + sign..i need all 3. How do i get that?
On the picture i am clicking only in the box i highlighted...they all return same code because the 3rd resolution is not there.

The grid.plus.codes map overly shows the full resolution on the map.

![chrome

[2020-05-01 19:36] davvit commented on #389
sorry, didnt find it fast enough.

OpenLocationCode.encode(latitude, longitude, codeLength) → {string}

[2020-05-01 19:36] #389 closed

[2020-05-02 13:33] harshg1971 opened #390 "VJQ7+VV is wrongly named, should be corrected to "PARIWAR PALACE APARTMENTS"."
We are a happily living community at the following code, which has more than 100 apartments and a few shops. We had named this as "PARIWAR PALACE APARTMENTS" for years and using this as an address.
Apparently one of the shopkeepers has claimed this as a business, depriving more than 100 families the benefit of sharing their location easily on maps.

VJQ7+VV Devarachikkana Halli, Bengaluru, Karnata

[2020-05-02 20:57] bocops commented on #390
A plus code is just a different way of communicating a specific location. Just like no one can claim the coordinates **12°53'23"N 77°36'53"E**, no one can claim a plus code.

What probably happens is that the business has an entry on Google Maps in this location, leading to Maps displaying the plus code that best fits the location of the business. That doesn't mean that the same plus code can not

[2020-05-03 17:11] harshg1971 commented on #390
Maybe then i expressed the concern wrongly. For not so tech savvy people (100+ families), we want the default display of address as "PARIWAR PALACEAPARTMENTS"

[2020-05-03 18:45] zongweil commented on #390
Hey @harshg1971, it sounds like you might need to create a [Google My Business](https://www.google.com/business/) account for Pariwar Palace Apartments. That's how the business names show up on Google Maps.

If someone in your complex already created a GMB account with that plus code, you may need to contact GMB support to help you out. Either way, this isn't an issue with plus codes.

Hope this h

[2020-05-03 18:45] #390 closed

[2020-05-05 16:26] gpkulkarni commented on #390
Google,
This is affecting my google search for my friends and relatives.
when they search Pariwar Palace apartment, it is not showing previously it was showing.
Can please fix this simple fu**ing issue/bug instead of giving gyan!!

[2020-05-05 18:28] drinckes commented on #390
If you have an issue with data on Google Maps, you have to report it using Google Maps feedback. We can make suggestions but nobody in this project is able to fix your issue.

Any further abuse will result in you being blocked from this repository.

[2020-05-05 18:43] gpkulkarni commented on #390
I was thinking this is the project from google/partnered to manage the location updates.
It is almost a year now, we are reporting the problem,  and still it is not fixed. Can you please point me to right forum where we can share our concern. There are 120 families and every one has google gmail, android phone youtube... and is this not the enough busyness for google as compared to GMB. How come g

[2020-05-07 13:31] cipri-tom commented on #390
@gpkulkarni this project is about technical implementation of converting between longitude and latitude to a different format. There is a reference above for updating data in maps, through GMB.

I'm afraid this project cannot help you with your request, as it does not manage google data in any way. For example, I have nothing to do with google, yet I am using this implementation for a project of m

[2020-05-19 05:12] magneticimpulse commented on #385
Nothing has been done to fix this issue. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dublin have the correct suburb! i will take you to court if you don

[2020-05-19 05:12] magneticimpulse commented on #383
Nothing has been done to fix this issue. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dublin have the correct suburb! i will take you to court if you don

[2020-05-19 05:13] magneticimpulse commented on #382
Nothing has been done to fix this issue. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dublin have the correct suburb! i will take you to court if you don

[2020-05-19 05:14] magneticimpulse commented on #380
Nothing has been done to fix this issue. ive reported it numerous times in google maps. my address has now been incorrectly copied to every website when i enter my Eircode!!  what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dublin have the correct suburb! i will take you to court if

[2020-05-19 05:15] magneticimpulse commented on #377
Nothing has been done to fix this issue. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dublin have the correct suburb! i will take you to court if you don

[2020-05-19 05:15] magneticimpulse commented on #378
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:16] magneticimpulse commented on #382
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:16] magneticimpulse commented on #385
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:16] magneticimpulse commented on #384
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:17] magneticimpulse commented on #383
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:17] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:17] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:17] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:18] magneticimpulse commented on #379
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:18] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area in dubli

[2020-05-19 05:19] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:19] magneticimpulse commented on #377
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:19] magneticimpulse commented on #378
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:19] magneticimpulse commented on #379
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:20] magneticimpulse commented on #380
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:20] magneticimpulse commented on #384
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-05-19 05:20] magneticimpulse commented on #383
Nothing has been done to fix this issue.ive raised this in google maps numerous times and its ignored. my address has now been incorrectly copied to every website when i enter my Eircode D11Y1E2!! it comes up that i live in "Northside". what are ye lads doing? this is an absolute joke. you have no right to incorrectly put in my personal address on every website possible. why does every other area

[2020-06-08 09:05] drinckes commented on #386
Google Maps had an issue rendering addresses where parish or county names were being included in addresses. This should be resolved now.

[2020-06-08 09:05] #386 closed

[2020-06-08 09:13] drinckes commented on #368
Please report issues with Google Maps data using the feedback in Maps.

[2020-06-08 09:13] #368 closed

[2020-07-02 11:45] floyernick opened #394 "Find adjacent blocks"
Hello! I'm curious is there an algorithm to find adjacent blocks to the chosen one? For example, if I pick 9G28, I need to find blocks 9G27, 9G29, 9G37, and 6 more blocks that surround picked one. Thanks.

[2020-07-02 12:34] bocops commented on #394
The easiest would be to get the underlying lat/long of a plus code, then add/subtract a constant value for that block size, then create new codes from the changed coordinates. In your example of four digit code prefixes, this would be +/- 1°.

I did something along those lines here: https://github.com/bocops/open-geotiling/blob/28609bd6c0a467bc22a18fe76cfa5d82cb52c3ff/java/org/bocops/opengeotiling

[2020-07-05 12:34] floyernick commented on #394
Great, thank you!

[2020-07-12 14:30] ppghijk commented on #394
ငါဝင်ကြည့်နေတာမင်းတို့သိမှန်းလည်းသိတယ် ငါလည်းဘာမှမလုပ်တတ်ပါဘူး  စတ်ဝင်စားလိုလိုက်ကြည်တာပါပဲ

[2020-07-12 14:41] ppghijk commented on #394
ဒီအကောင့်ကိုမသုံးရတော့ဘူးလို့ဆိုလိုတာလား    အဲဒါဆိုမသုံးဘူး  ငါ့ကိုလည်းမနှောင့်ယှက်ပါနဲ့

[2020-07-12 14:42] ppghijk commented on #394
ဒီအကောင့်မသုံးရဘူးလို့ဆိုလိုတာလား အဲဒါဆိုမသုံးဘူး  ငါကိုလည်း မဟက်ပါနဲ့ကွာ

[2020-07-12 15:58] RiverMersey commented on #394
As English translates as:  Does this mean you don't have to use this account?

Get Outlook for Android

On Sun, Jul 12, 2020 at 3:43 PM +0100, "ppghijk" <notifications@github.com> wrote:

ဒီအကောင့်မသုံးရဘူးလို့ဆိုလိုတာလား အဲဒါဆိုမသုံးဘူး  ငါကိုလည်း မဟက်ပါနဲ့ကွာ

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-13 20:22] prose1 opened #395 "Plus Code is wrong"
The plus code for my business is pinned to an address in Alexandria VA.  My business is in Lugoff SC.  How do I remove the incorrect plus code and replace it with the correct plus code? Customers are seeing this on my Google My Business listing and calling from VA.
![image](https://user-images.githubusercontent.com/68250396/87349806-ec2ba800-c524-11ea-9bf6-bad54a022de6.png)

Thank you in advance f

[2020-07-14 07:46] drinckes commented on #395
Hi Patty - this is because the pin for your business in Google Maps is in Alexandria.

You will need to move it to the correct location in SC - then the plus code will be updated.

Best if it is your business is to claim it, using the Claim this business link, then move it.

[2020-07-14 07:46] #395 closed

[2020-07-23 10:12] Evilc06 commented on #273
@JonMcPherson Hi, this question has nothing to do with this issue. I was trying to find a way to contact you to ask you regarding the parse live query for .NET and Unity. I downloaded your repo and placed them within my Assets folder but I tried to create a parse live query client and connecting it to the URI of the parse server (using the API Back4App) but when testing with a test callback I trie

[2020-07-29 19:06] ookisan opened #397 "Add link to emacs lisp implementation?"
There is an emacs lisp implementation at https://gitlab.liu.se/davby02/olc

Perhaps a link could be added, like there is one for common lisp? I've submitted a pull request to have it included in melpa (emacs lisp package repository), but until that is merged, if you want to use it, downloading from gitlab.liu.se and (optionally) compiling it is the only way to go.

[2020-08-02 09:50] ookisan commented on #397
Now also available in MELPA (which pulls the code from gitlab.liu.se).

[2020-08-03 14:29] abitrolly opened #398 "Plus Minus Code - WHVX+64J-MINSK"
It is the same short code, except for the deterministic "minus" part containing the locality. Locality is a table lookup, so this requires adding a table with localities the the standard. Filtered by population (>1mln people or the largest city in the square) to keep the list short. The has few advantages.

1. Plus Minus Codes can be decoded by offline tools
2. The code become machine readable (un

[2020-08-03 14:39] abitrolly opened #399 "plus.codes coder gives wrong location code"
![image](https://user-images.githubusercontent.com/8781107/89194070-8c6a6f00-d5af-11ea-8b6d-a5aff2812fef.png)

The actual short code is WHVX+64J as shown in URL and not WHVX+64 as shown in the box below. I just hit this while writing #398.

[2020-08-05 23:41] zongweil commented on #397
Done - thanks for letting us know @ookisan!

[2020-08-05 23:41] #397 closed

[2020-09-01 10:23] jbaker-dstl opened #402 "License information missing from Java pom.xml"
The Java `pom.xml` does not contain any licensing information (despite the whole project being licensed under ASL2), meaning that when the library is used within another project the information is missing when aggregated license files are generated.

[2020-09-10 03:39] d023604 opened #403 "Rust: Redundant Static Lifetime"
Redundant static lifetime in consts.rs:9:30
Constants have by default a static lifetime.

[2020-09-10 03:39] d023604 commented on #403
Happy to address

[2020-09-10 03:41] d023604 opened #404 "Rust: Redundant field names in struct initialisation"
Redundant field names in strut initialisation
codearea.rs:15 - 18:13 and 20:13

for further information visit https://rust-lang.github.io/rust-clippy/master/index.html#redundant_field_names

[2020-09-10 03:42] d023604 opened #405 "Rust: Unneeded return statement"
Unneeded return statement in interface.rs:171:5
for further information visit https://rust-lang.github.io/rust-clippy/master/index.html#needless_return

[2020-09-10 03:43] d023604 opened #406 "Rust: Variable does not need to be mutable"
Variable does not need to be mutable in interface.rs:310:9
Suggest remove mutability

[2020-09-10 03:45] d023604 opened #407 "Rust: Unnecessary unwrap"
Unnecessary unwrap in interface.rs:51:20
Instead of checking and unwrapping, it's better to use `if let` or `match`
for further information visit https://rust-lang.github.io/rust-clippy/master/index.html#unnecessary_unwrap

[2020-09-10 03:46] d023604 commented on #404
Happy to address

[2020-09-10 03:46] d023604 commented on #405
Happy to address

[2020-09-10 03:46] d023604 commented on #406
Happy to address

[2020-09-10 03:47] d023604 commented on #407
Happy to address

[2020-09-10 23:04] d023604 opened #409 "Documentation Error in Contributing?"
In the Contributing documentation, the documentation states

The link for joining the Open Location Code project on GitHub leads to [https://goo.gl/forms/T65peVtfQfEoDWeD3](Join the AMP Project on GitHub)

Is this correct?

[2020-09-10 23:30] zongweil commented on #409
Thanks for pointing that out. I removed that confusing line in https://github.com/google/open-location-code/pull/410.

As a side note, I saw you opened a few issues for minor changes in the Rust library. Feel free to send out PR's for those if you have time, and we'll have someone review them.

[2020-09-10 23:30] #409 closed

[2020-09-10 23:56] #404 closed

[2020-09-15 20:48] #405 closed

[2020-09-15 20:54] #403 closed

[2020-09-15 20:58] #376 closed

[2020-09-22 01:43] ebrensi opened #413 "update npm repo?"
Hi! This concerns the JavaScript implementation.  I noticed this project is at version 1.0.4 for over a year but the version available on npm is 1.0.3.  Are there any plans to update that?

[2020-10-14 07:42] jayeshkumars opened #416 "Decode gives #VALUE error"
![image](https://user-images.githubusercontent.com/33157351/95958476-d036eb80-0e1e-11eb-972b-b347e4fa81af.png)
=OLCDecode(code) is giving a #VALUE error in excel.

[2020-10-14 20:31] bilst commented on #416
Hi Kumar, if you're using the VBA library in Excel, you might try OLCDecode2Array(), which has the comment, "Same as OLCDecode but returns the coordinates in an array, easier to use within Excel."

Hopefully that works, but if not can you share the plus code you're trying to convert (hard to read the screenshot). Also if you highlight the cell with #VALUE!, is there any more detailed error message

[2020-10-14 20:35] RiverMersey commented on #416
![image](https://user-images.githubusercontent.com/54508654/96042359-38102500-0e65-11eb-81f2-215c01981a34.png)

[2020-10-15 03:59] jayeshkum commented on #416
Worked like a charm, when referred to a cell! The formula not accepting the direct input.
Plus code to decode: 7M3JHPXM+X8 (in Cell A1)
=OLCDecode(A1) returns #VALUE!
=OLCDecode2Array(A1) returns the array (Solves the purpose)

But,
=OLCDecode(7M3JHPXM+X8) or =OLCDecode2Array(7M3JHPXM+X8)

Doesn't work, excel wouldn't accept the + sign, even if I put it in quotes("").

[2020-10-16 17:38] bheliker opened #417 "Python Docstrings incorrect"
Python Comments and Docstrings are not conformant with Python or [Google's Style Guide](https://google.github.io/styleguide/pyguide.html#383-functions-and-methods). Docstrings should be inside the function they are describing.

[2020-11-02 19:35] torfason commented on #343
And now it seems like it is utterly impossible to get the full code from Google maps (not possible even to get a full code with some sort of info button). Yuck!

[2020-11-06 10:37] RiverMersey commented on #343
Sort of, it is still possible to get individual plus codes using: https://plus.codes/map Also, remember that site does use Google maps and the 3 horizontal lines icon gives the option of showing the satalite view

Get Outlook for Android

[2020-11-20 11:54] Kleak commented on #367
That would be awesome !

maybe @timsneath could help with that ?

[2020-11-20 20:27] shmootker commented on #416
When I try the OLCDecode2Array(A1) I get just the Latitude value 11.599875 in this example.  How do I get the other values that are supposed to be provided like the longitude value to show up in Excel?  I've tried selecting columns and rows before entering the function as is described in Excel but all it does is just repeat the latitude value and not the other values of the array.

[2021-01-01 08:28] tabbie0658 opened #423 "76C3+PW"

[2021-01-01 14:03] R930495 opened #424 "العراق ذي قار قلعة سكر قرية البو علي بيت الحاج سلمان جابر"
جيد جدا

[2021-01-10 17:32] #423 closed

[2021-01-15 01:00] fabanc commented on #145
@drinckes, @answerquest: I have also created a tool for the Esri community and ArcGIS Pro in order to compute plus code. You can compute the plus code directly on polygon that represent plus codes areas (in that case the plus code is based on the centroid of the polygon) or on points. You can define the length of the code you want as well.

This has been a problem I have been facing on a project a

[2021-02-06 04:56] boehs commented on #424
من فضلك لا تتحدث عن أشياء لا علاقة لها بتحسين هذه التكنولوجيا هنا

[2021-03-12 17:44] pathway opened #426 "Typo in short form resolutions?"
At https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems :

I would expect to see the second part "they can be shortened further", to have an even coarser resolution than the "short form" (50km), but it says 2.5km.

Thanks for sharing!

[2021-03-13 14:16] bocops commented on #426
In that paragraph

50km and 2.5km don't refer to the resolution of the resulting code, but to the approximate vicinity of the original location in which the shortened code can be properly recovered.

For example, if your full code is **85CGPGV2+F7**, you can shorten it by removing the first four characters (**PGV2+F7**) while referencing a nearby location like **Castle Valley, Utah, USA**. As long

[2021-03-13 16:34] #426 closed

[2021-03-14 08:17] chinmaypurav opened #427 "PHP language support"
I would like to contribute to this project by adding a PHP code with the same algorithm.
The only problem I am facing is with the RegEx part.

[2021-03-17 21:40] bilst commented on #424
For issues with specific places in Google Maps, you can report a problem here:
https://support.google.com/maps/answer/3094088
Thanks!

[2021-03-17 21:40] #424 closed

[2021-03-17 21:44] bilst commented on #399
Thanks for the report, but this project is only for the open source implementations of open location codes, not the plus.codes/map website. You might try the "feedback" option there.

[2021-03-17 21:44] #399 closed

[2021-03-17 21:44] #394 closed

[2021-03-17 21:44] #387 closed

[2021-03-17 21:46] #354 closed

[2021-04-01 19:57] whatlimits commented on #402
- [ ] [intresting ]()

[2021-04-16 01:29] rmatosinhos opened #428 "Garmin Montana 700"
Is it possible to make it available too for the Montana 700 series too?

[2021-04-20 11:19] ArmstrongAppollo opened #429 "Unable to obtain exact coordinate (5 decimal) using normal PlusCode"
Any idea how to obtain an 'Extra Precise' PlusCode using this api?

I managed to get the 12 alphanumeric (with plus sign) using an add-on in Google Spreadsheet.

But I can only obtain a 'Normal' PlusCode with this api..

Hope someone can help. Thanks!

[2021-04-20 11:33] bocops commented on #429
Can you clarify what exactly you are trying to achieve, using what language? A code example that doesn't work might help.

[2021-04-20 13:27] ArmstrongAppollo commented on #429
Hi bocops, my website is developed in PHP and when I search using 5 decimal coordinate, the result is close to the search but not exactly the coordinate.

For example, I search for 0.67416, 23.47314 and the result is 0.67419°, 23.47319°.
I guess it is caused by the PlusCode rounding.
![image](https://user-images.githubusercontent.com/72971374/115400762-3bbda380-a21c-11eb-9351-138a9ca9cdd2.png)

As

[2021-04-20 14:48] bocops commented on #429
I see. The underlying issue here might be that all plus codes refer to an area, not to an exact location. If lat/long coordinates are encoded into a plus code, then the resulting plus code is decoded again, the resulting coordinates are typically those of the center of the area.

For what it's worth, the area of a 10-digit area ("XXXXXXXX+XX", as used in your first example image) is roughly 14m x

[2021-04-20 15:18] ArmstrongAppollo commented on #429
Awesome explanation! I just tried length 11 (or "precise", as termed by plus-codes-publisher).
Unfortunately, the result is still unfavorable as 3 different coordinates are still sharing the same PlusCode:
![image](https://user-images.githubusercontent.com/72971374/115419252-c3aba980-a22c-11eb-967e-f42c6bbb53bb.png)

So I think the only way to obtain exact coordinate from a specific Plus Code is t

[2021-04-20 15:18] #429 closed

[2021-04-20 15:26] ArmstrongAppollo commented on #429
* Replace with correct screenshot:
![image](https://user-images.githubusercontent.com/72971374/115422738-c52aa100-a22f-11eb-8649-7fcdb5a8cded.png)

[2021-04-20 16:24] fulldecent opened #431 "Use consistent naming in this repository -- plus codes or open location code"
The README and FAQ here clarify:

- That "**plus codes**" (always lower case, similar to "postal codes") are the things that baseline humans and postpeople are going to use to find things on this big blue/green orb we live on; and
- That "**Open Location Code**" (always singular, always upper case, a proper noun) is the technology that developers will use to create the plus codes.

This messaging

[2021-04-20 16:30] fulldecent opened #432 "Specification should recommend function names"
The specification at https://github.com/google/open-location-code/blob/master/docs/specification.md

defines required functionality (e.g. function) for implementations.

To improve consistency across implementations, tighten the specification to include recommended function names. For example:

Yes, this assumes people are using object oriented languages. I understand that not everybody uses objec

[2021-04-20 19:18] bocops commented on #432
Isn't this mostly covered by [API.txt](https://github.com/google/open-location-code/blob/master/API.txt) already?

[2021-04-20 19:29] fulldecent opened #433 "Specification needs to state about formatting for Right-to-left"
A decision has been made about how to properly format plus codes in right-to-left pages.

That means that the codes "2222+3333" "3333+2222" as written exactly as you see them here has a specific meaning. And that meaning is only unambiguous with the decision above.

Source: https://github.com/google/open-location-code/issues/142

This decision is a specification and it needs to be noted as a requi

[2021-04-20 19:33] fulldecent commented on #432
Yes. That file is normative and it should be merged into the specification file.

Or at a minimum it needs to be linked.

---
---

P.S. Here is an example of a specification that is expressed in a slightly informal way: https://eips.ethereum.org/EIPS/eip-721

I came to the Open Location Code project repository expecting to find at least this level of formalism in its specification.

I am able to c

[2021-04-21 03:51] fulldecent opened #434 "Create a project scope"
Creating a scope to define what contributions this project is looking to accept will help the community to close other issue.

Here is an example of something I think is clearly out of scope:

https://github.com/google/open-location-code/issues/428

But I can't convince anybody else of this unless 1) someone with commits access here says so, or 2) I can point to the project scope.

[2021-04-21 11:22] bocops opened #436 "Travis CI build fails even for non-code pull requests"
In #435 I changed only documentation, but not any code files. There's no reason for Travis CI build to fail - yet it does. More specifically, it is the Dart, Python and Ruby configurations that seem to fail across different, recent pull requests. Please fix.

[2021-04-21 14:58] bocops commented on #373
If this is still an open issue, I suggest creating a project for it so that we can track this across all language versions.

[2021-04-23 12:19] bocops commented on #433
The specification states as much, and has done so since 2019. :)

[2021-04-25 02:21] fulldecent opened #438 "Plus Codes regex is incorrect"
In https://github.com/google/open-location-code/wiki/Supporting-plus-codes-in-your-app it is stated:

However, a particular global code "15,849VGJQF+VX7QR3J" taken from the [test cases](https://github.com/google/open-location-code/blob/master/test_data/encoding.csv) does not match that.

[2021-04-25 02:26] fulldecent opened #439 "Package.json release version does not match GitHub release version"
On GitHub, the latest release is version 1.0.4

https://github.com/google/open-location-code/releases/tag/1.0.4

But the package file shows the latest release as 1.0.0

https://github.com/google/open-location-code/blob/master/package.json

[2021-04-25 02:27] fulldecent commented on #439
And furthermore, the CHANGELOG lists the latest version as 2015-01-30.

https://github.com/google/open-location-code/blob/master/CHANGELOG.md

[2021-04-25 02:33] fulldecent opened #440 "Rename main branch from master to main"
Google projects are consistently making this change.

examples:
- https://groups.google.com/a/chromium.org/g/infra-dev/c/DtX5L__JYr0
- https://github.com/google/marl/issues/153

[2021-04-25 02:57] fulldecent opened #441 "Plus Codes capitalization inconsistent with marketing website"
The [OLC naming guidelines](https://github.com/google/open-location-code/wiki/Naming-guidelines) specifies:

However, the Google marketing website at https://maps.google.com/pluscodes/ repeatedly fails to follow these specifications. Plus codes is used in title case. (There are some cases where it is used in a heading, but context shows that headings are using sentence case, not title case.)

I un

[2021-04-25 03:56] fulldecent opened #442 "Official implementation inaccurately refers to a plus code as encoding a "point""
In the CPP implementation:

This is inaccurate. Plus codes never encode a point. They encode areas of various sizes.

[2021-04-25 04:02] fulldecent opened #443 "CPP implementation: does not reference a required separator character"
The C++ implementation states:

This is underspecified. Every plus code will have a separator character. CITATION NEEDED. Therefore a better wording would be to say:

[2021-04-25 04:05] fulldecent commented on #443
Recommended tag: implementation

[2021-04-25 04:05] fulldecent commented on #442
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:05] fulldecent commented on #441
Recommended tag: <kbd>documentation</kbd>

[2021-04-25 04:06] fulldecent commented on #440
Recommended tag: <kbd>project organization</kbd>

[2021-04-25 04:06] fulldecent commented on #439
Recommended tag: <kbd>project organization</kbd>

[2021-04-25 04:06] fulldecent commented on #438
Recommended tag: <kbd>documentation</kbd>

[2021-04-25 04:07] fulldecent commented on #436
Recommended tag: <kbd>continuous integration</kbd>

[2021-04-25 04:07] fulldecent commented on #434
Recommended tag: <kbd>project organization</kbd>

[2021-04-25 04:07] fulldecent commented on #433
Recommended tag: <kbd>specification</kbd>

[2021-04-25 04:07] fulldecent commented on #432
Recommended tag: <kbd>specification</kbd>

[2021-04-25 04:08] fulldecent commented on #431
Separately, this is mentioned in https://github.com/google/open-location-code/wiki/Naming-guidelines and that needs to be brought into one of the normative specifications

[2021-04-25 04:08] fulldecent commented on #431
Recommended tags: <kbd>implementation</kbd> <kbd>specification</kbd> <kbd>documentation</kbd>

[2021-04-25 04:10] fulldecent commented on #434
The project scope should include:

* New implementations will be considered only as a pull request with a full working implementation that passes all test cases and works with our continuous integration, not an issue.

This will allow to close issues like this: https://github.com/google/open-location-code/issues/428 as out of scope.

[2021-04-25 04:11] fulldecent commented on #428
Recommended tag: <kbd>implementation request</kbd>

(but actually recommending to close as out-of-scope in #434)

[2021-04-25 04:11] fulldecent commented on #427
Recommended tag: implementation request

(but actually recommending to close as out-of-scope in #434)

[2021-04-25 04:11] fulldecent commented on #417
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:12] fulldecent commented on #413
Recommended tags: <kbd>project organization</kbd> <kbd>implementation</kbd>

[2021-04-25 04:12] fulldecent commented on #407
Recommended tag: <kbd>implementation</kbd>

Please proceed to provide a PR here

[2021-04-25 04:12] fulldecent commented on #406
Recommended tag: <kbd>implementation</kbd>

Please proceed to provide a PR here

[2021-04-25 04:13] fulldecent commented on #402
Recommended tags: <kbd>implementation</kbd> <kbd>project organization</kbd>

[2021-04-25 04:13] fulldecent commented on #402
Thank you, are you able to please provide a PR for this?

[2021-04-25 04:14] fulldecent commented on #373
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:26] fulldecent commented on #371
First, I can't find any authoritative specification for Maidenhead Locator System (no, Wikipedia articles are not authoritative for anything). So every criticism of MLS is valid.

I define that MLS shall define all locations to "Beer". Beer is a word. Checkmate.

Second, the thing we are debating is the validity of this statement:

And the raised argument is:

The argument assumes all words (in al

[2021-04-25 04:28] fulldecent commented on #398
This repository is related to plus codes. What you are referring to is not a plus code. I recommend that this issue be closed as out of project scope.

[2021-04-25 04:33] fulldecent commented on #375
At a minimum, our wiki has a broken link. `c216ne4` is not valid on http://geohash.org

<img width="1446" alt="Screen Shot 2021-04-25 at 00 32 59" src="https://user-images.githubusercontent.com/382183/115980854-d9d3a580-a55d-11eb-92e0-f669d3a4b0b6.png">

[2021-04-25 04:34] fulldecent commented on #369
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:34] fulldecent commented on #367
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:35] fulldecent commented on #364
Recommended tag: <kbd>implementation request</kbd>

[2021-04-25 04:37] fulldecent commented on #358
This issue has raised the questions "Would it be hard to merge or extend to such system ?"

This thread has answered, this is impossible. Details are shown at https://github.com/google/open-location-code/wiki/Evaluation-of-Location-Encoding-Systems#web-based-services

Also the issue raised "Would anyone be interested ?"

The answer here is no. That is out of scope for this project.

---

I recomme

[2021-04-25 04:40] fulldecent commented on #343
The plus codes specification (to be written) notes that a specification location must be provided in lat/long.

This is a known and documented part of this project.

Recommending to close issue as out of project scope.

[2021-04-25 04:40] fulldecent commented on #327
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:40] fulldecent commented on #324
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:40] fulldecent commented on #319
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:43] fulldecent commented on #307
# Work plan

- [ ] Adding a couple of test cases to identify implementations that are affected.
- [ ] Submitting the JS implementation to confirm it fixes this issue.
- [ ] Modifying affected implementations to use the integer arithmetic method.

[2021-04-25 04:43] fulldecent commented on #307
Recommended tag: <kbd>implementation</kbd> <kbd>testing</kbd>

[2021-04-25 04:44] fulldecent commented on #294
Recommended tag: <kbd>implementation</kbd>

[2021-04-25 04:46] fulldecent commented on #278
This issue raises: "is there a specification..."

The answer is that no, we do not have such a specification and it appears that there is not an appetite to add such a specification to the Open Location Code specification.

Recommending to close this issue as resolved.

[2021-04-25 04:50] fulldecent commented on #273
Recommended tag: <kbd>specification</kbd>

[2021-04-25 04:50] fulldecent commented on #259
Recommended tag: <kbd>implementation request</kbd>

[2021-04-25 05:05] fulldecent commented on #373
I am considering to add to the OLC specification that longitude normalization MUST run in O(1) time.

I consider this a security issue.

[2021-04-25 05:15] fulldecent commented on #248
Recommending to close issue.

There may be interest for somebody to open an IETF RFC and propose a new top-level namespace for plus codes.

But that surely is outside the our scope of

I am citing this project scope from the GitHub repository description at https://github.com/google/open-location-code under ABOUT on the side bar.

[2021-04-25 05:23] #358 closed

[2021-04-25 05:23] fulldecent commented on #373
Related https://github.com/google/open-location-code/pull/370

[2021-04-25 05:24] fulldecent commented on #373
Added test cases at https://github.com/google/open-location-code/pull/444 for vulnerable behavior.

Related: https://github.com/google/open-location-code/issues/241

[2021-04-25 09:39] torfason commented on #343
A specification location does **not** have to be provided in general, **only** for short codes. Full codes are absolutely decodable without a reference location, as has been stated numerous times in this thread.

This issue concerns the fact that Google, the sponsor of plus codes, insisted on first making it hard, then impossible, to get  full codes using Google maps, which is probably the most pr

[2021-04-25 11:12] bocops commented on #438
An underlying issue here seems to be that "global code" is not actually a well-defined term in OLC. We have "full codes" and "short codes", but not "global codes" outside of that wiki page.

That terminology was more prominently used on plus.codes for a while, basically meaning "full code with either 10 or 11 digits", because those are the most useful ones in everyday use. It no longer is used as

[2021-04-25 13:32] fulldecent commented on #343
I assert that this project doesn't have a (complete) specification even for global codes or for implementations.

Many ideas are here but this is not specification-level work. I am working to fix this by writing an actual, implementable spec and updating all implementation to follow and test for that spec.

**You have a valid criticism that short codes are of limited utility until multiple, compet

[2021-04-25 13:41] fulldecent commented on #438
Thank you for the explanation.

Additionally, that regex fails to match codes of length less than 8.

I am taking your terminology notes into consideration and incorporating them into a plus code specification and an Open Location specification. These two specification would do well to replace all normative references which are currently spread out across this project in docs, comments, wikis, FAQ

[2021-04-25 14:48] bocops commented on #438
Whether or not we replace "global code" with "full code" or define that term as specifically meaning a 10/11-digit full code, that regex does not _fail_ to match short codes because that is not the intent in the first place. Not in a section that deals with _some_ variant of unabbreviated codes.

You might actually not be talking about shortening (to less than 8 characters) but about padding (in w

[2021-04-25 14:59] fulldecent commented on #438
That is a fair assessment.

My takeaways here are that

1. All normative statements in this project need to be moved into an actual specification.
2. A "global code" or a "default" length should be understood as 10 digits (or possibly 11)

[2021-04-25 15:16] fulldecent opened #446 "All implementations should use same test suite"
There is an acceptance test suite at https://github.com/google/open-location-code/tree/master/test_data

Every implementation should use exactly those test cases.

This means that improvements to the test cases will benefit every implementation.

[2021-04-25 15:21] fulldecent opened #447 "Document special test cases"
All test cases should have written-out explanations which points to relevant specifications and how you can verify they are correct.

But especially so for something labeled "Special cases"!

@drinckes could you please help to add more documentation in the test case comments here? https://github.com/google/open-location-code/blame/master/test_data/decoding.csv#L19-L24

[2021-04-25 15:33] fulldecent opened #448 "Non-precise test cases / comparing numbers"
When creating test cases, it is best practice to NOT compare floating point values using an equality check.

Therefore, test cases like these are inappropriate: https://github.com/google/open-location-code/blob/master/test_data/decoding.csv#L26

Or, there should be a lot more documentation (in the test case) to explain why that specific value is expected.

References:
- Best practice: https://floa

[2021-04-25 16:29] fulldecent opened #449 "OLC inconsistent reference to Earth equatorial circumference"
The document/specification/notes refer to the Earth as having a circumference of 111321 meters per degree of latitude.

However, elsewhere it is specified that plus codes are predicated over the WSG 84 standard.

The WSG 84 geoid sets the semi major axis at 6 378 137.0 m. (Sorry, can't find actual reference for this // https://en.wikipedia.org/wiki/World_Geodetic_System)

That means one degree is

[2021-04-25 18:25] torfason commented on #343
@fulldecent, I agree with much of what you said.

I think this is a key issue. I feel that my posts in 2019 were an attempt to contribute to item 1 (in terms of what the policy should be), and I actually started some experiments implementing item 2 (as an R package, using OSM data). However, the responses to the posts (@apatrida also had some thoughtful insights), coupled by the subsequent decisio

[2021-04-25 18:34] fulldecent commented on #343
Google, as a whole, does not necessarily have consistent interests in its Google Maps product and this OLC project.

(I am an ex-Googler and do not speak for any of the entities involved.)

Because people with commit access here are not completely AFK, I am treating this project with a hopeful optimism and the "GitHub street rules" of "if you show, do all the work, fully understand the project sco

[2021-04-25 18:39] fulldecent commented on #184
A full code MUST match one these regular expressions:

1. ```
   /^[2-9C][2-9CFGHJMPQRV]0{6}\+$/
[code]

3. ```
   /^[2-9C][2-9CFGHJMPQRV][2-9CFGHJMPQRVWX]{4}0{2}\+$/
[code]

I am working to add this to the specification.

[2021-04-25 19:01] fulldecent opened #450 "Specify a unique representation for North and South poles"
Our project introduction states:

"Encoding" here implies that the encoder is a function.

However, the location at the North and South poles, does not correspond to a specific plus code. (i.e. this is not a function or an encoding.) The normative references here have conflicting advice on whether the North Pole is encodable. And also whether it is a unique code.

With more reading between the lin

[2021-04-25 19:19] fulldecent commented on #307
@drinckes Thank you for the reference to #305 as a potential solution. There's a lot in that PR, could you please point to the relevant code or summarize here?

Personally I am considering to encode as:

[code]

I have not yet tested it to your test cases above. And I'm studying your other options. I am also considering to propose this as the reference implementation if it is correct.

[2021-04-25 19:30] bocops commented on #449
Nothing in that statement claims that it refers to WGS84 - and if it did, I would question the correctness of using the exact semi-major axis value but not the semi-minor axis value for a calculation that tries to roughly approximate lengths not only along the equator but also perpendicular to it.

Considering that
- these values don't differ in the first four digits, and would have the same fifth

[2021-04-25 21:00] fulldecent commented on #449
Regarding tone.

Very insulting! And ambiguous!!!

This is meant to mean the person who writes the standard (us, you and me, everybody here) should care more than anybody reading the document (implementors, the public, baseline humans) about any detail written down.

Sorry for that confusion.

(The insulting, unintended alternate meaning reads as a personal attack against a "you" some person here.

[2021-04-26 02:54] fulldecent commented on #432
Also, the specification in https://github.com/google/open-location-code/blob/master/API.txt conflicts with the specification at https://github.com/google/open-location-code/blob/master/docs/specification.md

The former states that every function "should" be implemented and the latter states that some "must" and others "should" be implemented.

I am considering that these words are being used as de